html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent
}

input[type="number"], input[type="text"], input[type="password"], input[type="email"], textarea {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important
}

input[type="button"], input[type="submit"], button {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0
}

input:focus, button:focus, select:focus, textarea:focus, video:focus {
    outline: none
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input::-ms-clear {
    width: 0;
    height: 0
}

a:active, a:focus {
    outline: none
}

img {
    -webkit-user-drag: none
}

a img {
    border: 0
}

form {
    margin: 0
}

header, nav, footer, main, section, article {
    background-color: inherit;
    display: block
}

body {
    margin: 0;
    background-color: #F4F4F4;
    font-family: Arial;
    font-size: 13px;
    color: #303030
}

a {
    text-decoration: none;
    color: #303030
}

input, textarea {
    font-family: Arial !important
}

#content input[type="button"], #header input[type="button"], #content input[type="submit"], #content button, #content .boton, #header .boton {
    border: 0;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    background-color: #CA1E25;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none
}

#content input[type="button"].disabled, #header input[type="button"].disabled, #content input[type="submit"].disabled, #content button.disabled, #content .boton.disabled, #header .boton.disabled {
    background-color: #707070 !important;
    cursor: auto !important
}

html.form_login #content #anuncio_edicion input[type="text"], html.form_login #content #anuncio_edicion input[type="password"], html.form_login #content #anuncio_edicion select, html.form_login #content #anuncio_edicion textarea, #content input[type="text"], #content input[type="password"], #header input[type="text"], #content select, #header select, #content textarea {
    display: inline-block;
    color: #303030;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    border-radius: 3px
}

*:-moz-placeholder {
    color: #A9A9A9
}

*:-ms-input-placeholder {
    color: #A9A9A9
}

*::-webkit-input-placeholder {
    color: #A9A9A9
}

hr {
    border: 0;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #FFF;
    margin: 15px 0;
    display: none
}

.lightbox {
    position: fixed;
    display: block;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    top: 0;
    left: 0;
    right: 0;
    bottom: -100px
}

@font-face {
    font-family: 'Material Icons';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/MaterialIcons/MaterialIcons-Regular.eot);
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2'), url(/fonts/MaterialIcons/MaterialIcons-Regular.woff) format('woff'), url(/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format('truetype')
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: inherit;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.material-icons.url, .material-icons.link, a .material-icons {
    cursor: pointer
}

.material-icons, .material-icons-before:before, .material-icons-after:after, #cabecera_sub_buscar *:before, #div_busqueda_cabecera span:after, #expandir_filtros_busqueda span:before, #navegacion_categorias span:before, .favorita_corazon:before {
    font-family: 'Material Icons' !important;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

#content {
    position: relative;
    width: 94%;
    width: calc(100% - 28px);
    max-width: 940px;
    padding: 2%;
    padding: calc(14px);
    margin: 0 auto;
    margin-top: 90px;
    background-color: inherit
}

@media screen and (max-width: 800px) {
    #content {
        width: 98%;
        width: calc(100% - 10px);
        padding: 1%;
        padding: calc(5px);
        margin-top: 41px
    }
}

.visibility_off {
    visibility: hidden
}

.visibility_on {
    visibility: visible
}

.display_off {
    display: none
}

.hide_on {
    display: none
}

.bloque {
    color: #303030;
    background-color: #fff;
    padding: 25px;
    margin-top: 20px;
    position: relative;
    font-size: 15px;
    border: 1px solid #E8E8E8;
    border-radius: 0
}

#content .bloque:first-child {
    margin-top: 0
}

html.form_login #anuncio_edicion .bloque .titulo, .bloque .titulo {
    margin-top: 0;
    font-size: 25px;
    font-weight: 400;
    color: #CA1E25;
    display: block;
    margin-bottom: 25px
}

.bloque .link {
    color: inherit;
    text-decoration: underline
}

.bloque .enlace {
    color: #0072C6;
    text-decoration: underline
}

.bloque strong {
    color: #CA1E25
}

.bloque.OK {
    font-size: 17px;
    color: #008A00;
    font-weight: 700;
    border: 1px solid #008A00
}

.bloque.KO {
    font-size: 17px;
    color: #CA1E25;
    font-weight: 700;
    border: 1px solid #CA1E25
}

.bloque.KO a {
    color: #CA1E25;
    text-decoration: underline
}

.bloque.KO a.boton {
    text-decoration: none
}

@media screen and (max-width: 800px) {
    .bloque {
        margin-top: 5px
    }
}

#header .error, #content .error, #div_navegacion .error {
    display: none;
    position: relative;
    color: red
}

#header .error > img, #content .error > img, #div_navegacion .error > img {
    position: absolute;
    width: 16px
}

#header .error > i, #content .error > i, #div_navegacion .error > i {
    color: #CA1E25;
    font-size: 21px;
    position: absolute;
    margin-top: -2px;
    margin-left: -1px
}

#header .error > span, #content .error > span, #div_navegacion .error > span {
    line-height: 18px;
    display: inline-block;
    margin-left: 24px;
    font-size: 13px
}

#content .error > span a {
    text-decoration: underline;
    font-weight: 700;
    color: inherit
}

html.droid #header .error > span, html.droid #content .error > span, html.droid #div_navegacion .error > span {
    line-height: 17px
}

.adp {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0;
    background-color: #fff;
    border: 1px silver solid;
    border-bottom: 0;
    border-right: 0;
    border-top-left-radius: 5px;
    box-shadow: 0 0 1px 0 #A4A4A4;
    z-index: 1000
}

.adp.min {
    height: 30px;
    width: 240px;
    opacity: .5
}

.adp .barra {
    height: 30px;
    color: #fff;
    background-color: #CA1E25;
    border-top-left-radius: 5px;
    font-size: 15px;
    line-height: 30px;
    padding-left: 5px;
    font-weight: 700;
    position: relative;
    cursor: pointer
}

.adp .adp_mini {
    position: absolute;
    right: 10px
}

.adp .opciones {
    padding: 10px
}

.adp input, .adp textarea {
    border: 1px solid silver
}

.adp textarea {
    width: 300px;
    height: 80px;
    font-family: Arial
}

.notransition {
    transition: none !important
}

@media screen and (max-width: 550px) {
    .adp {
        bottom: 29px
    }

    .bloque {
        padding: 15px
    }
}

#condiciones_content span[id^="about-"] {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700
}

.capa_checkbox .error {
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 0
}

.icon_checkbox_box {
    display: inline-block;
    vertical-align: middle;
    height: 36px;
    margin: 2px 0
}

.icon_checkbox_box .icon_checkbox {
    font-size: 36px;
    cursor: pointer;
    color: #008A00
}

.icon_checkbox_box .icon_checkbox.disabled {
    color: #aaa;
    cursor: default
}

.icon_checkbox_text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
    margin-left: 8px;
    width: calc(100% - 36px - 8px)
}

#about_content .icon_checkbox_text, .alertas_content .icon_checkbox_text {
    width: initial
}

.g-recaptcha-cookies {
    text-align: left
}

.g-recaptcha-cookies > span {
    display: block
}

.g-recaptcha-cookies > span.titulo {
    margin-bottom: 10px
}

.g-recaptcha-cookies > span.aceptar {
    display: inline-block;
    color: #fff;
    background-color: #0072C6;
    border: 0;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer
}

.bloque_footer {
    padding: 10px 15px
}

#content > .bloque.bloque_footer {
    margin-top: 50px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    width: max-content;
    text-align: center;
    line-height: 23px
}

html.con_filtros #content > .bloque_footer {
    margin-bottom: 63px
}

#content > .bloque_footer:empty {
    display: none
}

@media screen and (max-width: 800px) {
    #content > .bloque.bloque_footer {
        margin-bottom: 15px
    }
}

@media screen and (max-width: 550px) {
    #content > .bloque.bloque_footer {
        margin-top: 20px;
        max-width: max-content;
        width: max-content;
        text-align: center;
        line-height: 23px
    }
}

@media screen and (max-width: 800px) {
    #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop {
        max-height: 150px !important;
        min-height: 150px !important
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop li {
        margin-top: 3px !important;
        margin-bottom: 16px !important
    }
}

body {
    overflow-y: scroll
}

#header {
    z-index: 1000
}

#cabecera {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #E8E8E8;
    text-align: center;
    z-index: 1000
}

#cabecera .cabecera_sup {
    position: relative;
    height: 50px
}

#cabecera .cabecera_sub {
    position: relative;
    height: 39px
}

#cabecera h1 {
    color: #303030;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 39px
}

#cabecera_sup_buscar {
    text-align: left
}

#div_logo {
    display: inline-block;
    position: relative;
    line-height: 0;
    z-index: 1
}

#logo {
    border: 0;
    height: 36px
}

#link_home {
    color: #fff;
    display: inline-block;
    line-height: 0;
    margin-top: 10px;
    cursor: pointer
}

#div_navegacion {
    text-align: center;
    font-size: 14px
}

#div_navegacion div, #div_navegacion span, #div_navegacion li, #div_navegacion a {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

#div_navegacion > a, #div_navegacion > div {
    color: #303030;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    vertical-align: top
}

#div_navegacion > a {
    padding: 0 10px;
    white-space: nowrap
}

html.droid #div_navegacion > a, html.droid #div_navegacion > div {
    line-height: 31px
}

#div_navegacion > div * {
    line-height: normal
}

@media screen and (max-width: 800px) {
    #cabecera {
        position: fixed;
        right: 0
    }

    html.noheader #cabecera {
        position: absolute
    }

    #cabecera .cabecera_sup {
        height: 40px;
        text-align: left
    }

    #cabecera .cabecera_sub {
        height: 0;
        line-height: 0;
        border: 0;
        padding: 0;
        margin: 0
    }

    #logo {
        height: 26px
    }

    #link_home {
        margin-left: 10px;
        margin-top: 7px
    }

    #cabecera #cabecera_sup_gen #div_logo {
        margin: 0
    }

    #cabecera #cabecera_sub_gen h1 {
        position: absolute;
        top: -39px;
        right: 10px
    }

    #div_navegacion {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fff;
        border: 1px solid #E8E8E8;
        border-top: 0;
        border-right: 0;
        text-align: left
    }

    #div_navegacion:before {
        content: "menu";
        position: absolute;
        right: 7px;
        top: -40px;
        font-size: 48px;
        width: 37px;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        color: #0072C6;
        background-color: #fff;
        cursor: pointer
    }

    #div_navegacion > * {
        display: none !important
    }

    #div_navegacion:hover > * {
        display: block !important
    }
}

@media screen and (max-width: 350px) {
    #cabecera #cabecera_sub_gen h1 {
        display: none
    }
}

#cabecera {
    display: table;
    height: 89px;
    font-size: 14px
}

p#demasiados_resultados {
    margin: 0;
    display: block;
    padding: 7px 10px;
    font-size: 12px;
    color: gray;
    max-width: fit-content
}

#cabecera #cabecera_sup_buscar, #cabecera #cabecera_sub_buscar {
    display: table-cell;
    height: 89px;
    vertical-align: top
}

#cabecera #cabecera_sup_buscar {
    width: 290px
}

#cabecera_sub_buscar div, #cabecera_sub_buscar span, #cabecera_sub_buscar li, #cabecera_sub_buscar a {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

html.droid #cabecera_sub_buscar > a, html.droid #cabecera_sub_buscar > div {
    line-height: 31px
}

#cabecera_sub_buscar > div * {
    line-height: normal
}

#link_home {
    margin-left: 15px
}

#cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop li span {
    width: 100%
}

#div_contador_anuncios_fotos_falsas {
    color: #303030;
    font-size: 14px;
    margin-left: 14px;
    position: absolute;
    left: 0;
    bottom: 13px;
    overflow: hidden;
    white-space: nowrap
}

#cabecera #ver_busqueda, #cabecera #publicar, #cabecera #login {
    position: absolute;
    top: 23px;
    color: #0072C6;
    background-color: transparent;
    display: inline-block;
    width: 64px;
    font-size: 56px;
    height: 42px;
    line-height: 42px;
    padding: 0;
    text-align: left
}

#cabecera #publicar {
    right: 136px
}

#cabecera #login {
    right: 70px;
    line-height: 36px
}

#cabecera #login img {
    width: 64px;
    height: 42px
}

#cabecera #ver_busqueda {
    display: none
}

#cabecera .navegacion_titulo {
    font-size: 16px;
    display: inline-block;
    line-height: 30px;
    margin: 0 10px;
    cursor: pointer;
    white-space: nowrap
}

#cabecera .navegacion_menu {
    position: absolute;
    margin: 0;
    padding: 0;
    padding-top: 4px;
    text-align: left;
    display: none
}

#cabecera .navegacion:hover .navegacion_menu, #cabecera .navegacion.navegacion_menu:hover {
    display: block
}

#cabecera .navegacion .navegacion_menu ul.drop {
    background-color: #fff;
    border: 1px solid #E8E8E8;
    border-right: 0;
    margin: 0;
    padding: 0;
    min-width: 110px;
    overflow: auto;
    overflow-x: hidden;
    z-index: 1;
    max-width: 600px;
    position: relative
}

#cabecera .navegacion_menu ul.drop li {
    white-space: nowrap
}

#cabecera .navegacion_about ul.drop li > * {
    display: inline-block;
    padding: 0 15px;
    height: 35px;
    line-height: 36px;
    cursor: pointer
}

html.droid #cabecera .navegacion_about ul.drop li > * {
    line-height: 33px
}

#cabecera .navegacion_menu .sep_on {
    border: 0;
    clear: left
}

#cabecera .navegacion_menu .sep_on:before {
    content: " ";
    position: absolute;
    left: 0;
    margin-top: 0;
    display: block;
    width: 100%;
    height: 1px;
    border-top: 1px dotted #E8E8E8
}

#cabecera .navegacion_menu .sep_on.mas {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 2px
}

#cabecera .navegacion_about {
    position: absolute;
    top: 23px;
    right: 10px
}

#cabecera .navegacion_about .navegacion_titulo {
    font-size: 82px;
    width: 52px;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    margin: 0;
    margin-right: 5px;
    color: #0072C6;
    background-color: #fff
}

#cabecera .navegacion_about .navegacion_titulo {
    margin-right: 5px
}

html.mobile #cabecera .navegacion_about .navegacion_menu {
    right: -10px;
    padding-top: 13px
}

#cabecera .navegacion_about .navegacion_menu {
    right: -10px;
    padding-top: 21px
}

#cabecera .navegacion_about .navegacion_menu ul.drop {
    padding-top: 0
}

ul.drop > li:hover {
    background-color: #CA1E25;
    color: #fff
}

#div_busqueda_cabecera {
    position: relative;
    text-align: left;
    display: block;
    width: auto;
    max-width: 1200px;
    margin-top: 23px;
    margin-left: 7%;
    margin-right: 12%
}

#div_busqueda_cabecera > div {
    display: inline;
    margin: 0;
    padding: 0
}

#div_busqueda_cabecera > div:empty {
    display: none
}

#div_busqueda_cabecera form {
    position: relative;
    display: inline
}

#search-field > label, #search-field-location > label {
    display: inline-block;
    width: 0;
    line-height: 0;
    overflow: hidden
}

#div_busqueda_cabecera #search-sector, #div_busqueda_cabecera .search-field {
    font-size: 17px;
    text-align: left;
    height: 40px;
    line-height: 40px;
    padding: 0 3px;
    display: inline-block;
    position: relative;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    margin-right: 15px;
    width: 20%
}

#div_busqueda_cabecera #search-sector {
    width: 100px;
    padding: 0 13px
}

#div_busqueda_cabecera #search-field, #div_busqueda_cabecera #search-field-location {
    width: calc(50% - 102px)
}

#div_busqueda_cabecera #search-sector ~ #search-field, #div_busqueda_cabecera #search-sector ~ #search-field-location {
    width: calc(50% - 175px)
}

#div_busqueda_cabecera .search-field > div, #div_busqueda_cabecera .search-field input, #div_busqueda_cabecera #search-submit span, #div_busqueda_cabecera #search-submit input {
    display: inline-block;
    border: 0;
    height: 40px;
    line-height: 40px;
    padding: 0;
    vertical-align: top
}

#div_busqueda_cabecera .search-field > div {
    line-height: 39px
}

#div_busqueda_cabecera .search-field input, #div_busqueda_cabecera #geolocalizado {
    font-size: 17px;
    margin-left: 10px
}

#div_busqueda_cabecera .search-field > div {
    padding: 0 15px 0 10px
}

#div_busqueda_cabecera #search-submit span {
    font-size: 20px;
    width: 20px;
    margin-right: 10px;
    font-weight: 700
}

#div_busqueda_cabecera #search-submit input {
    color: inherit;
    background: inherit;
    cursor: inherit;
    font-size: 17px;
    font-weight: 700
}

#div_busqueda_cabecera input::-webkit-input-placeholder {
    font-size: 17px
}

#div_busqueda_cabecera input:-moz-placeholder {
    font-size: 17px
}

#div_busqueda_cabecera input:-ms-input-placeholder {
    font-size: 17px
}

#div_busqueda_cabecera input:focus {
    outline: none
}

#div_busqueda_cabecera #search {
    width: calc(100% - 127px)
}

#div_busqueda_cabecera #search-location, #div_busqueda_cabecera #geolocalizado {
    width: calc(100% - 161px)
}

#div_busqueda_cabecera .geolocation_on #search-location {
    display: none
}

#div_busqueda_cabecera #geolocalizado {
    padding: 0;
    text-align: left;
    overflow: hidden;
    display: none
}

#div_busqueda_cabecera .geolocation_on #geolocalizado {
    display: inline-block
}

#div_busqueda_cabecera #locate {
    width: 20px;
    font-size: 22px;
    cursor: pointer
}

#div_busqueda_cabecera .geolocation_on #locate {
    color: #0072C6
}

#div_busqueda_cabecera #search-location-radius {
    position: relative;
    width: 75px;
    border-left: 1px solid #E8E8E8
}

#div_busqueda_cabecera #filters #more_filters {
    margin-right: 10px;
    display: inline-block
}

#div_busqueda_cabecera #search-location-radius, #div_busqueda_cabecera #filters {
    font-size: 17px;
    text-align: center
}

#div_busqueda_cabecera #filters {
    width: 115px;
    padding: 0 5px 0 5px;
    cursor: pointer;
    text-align: right !important;
    position: absolute;
    right: 0
}

#div_busqueda_cabecera #filters [id^="navegacion_"] {
    text-align: center
}

#div_busqueda_cabecera #filters > span {
    color: #fff;
    background-color: #0072C6;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 3px;
    vertical-align: top;
    line-height: 40px
}

#div_busqueda_cabecera #search-submit {
    height: 40px;
    width: 105px;
    line-height: 40px;
    padding: 0 15px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #CA1E25;
    border: 1px solid #CA1E25;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer
}

#div_busqueda_cabecera .select .select-values, #div_busqueda_cabecera .search-field .suggestions {
    display: block;
    width: 100%;
    width: calc(100% - 6px);
    height: auto;
    padding: 3px;
    text-align: left;
    position: absolute;
    left: -1px;
    top: 40px;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    z-index: 1;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: none
}

#div_busqueda_cabecera .search-field .suggestions b {
    color: #CA1E25
}

#div_busqueda_cabecera .select .select-values > span, #div_busqueda_cabecera .search-field .suggestions > span {
    display: block;
    padding: 7px 0;
    padding-left: 10px;
    font-size: 16px;
    cursor: pointer
}

#div_busqueda_cabecera .select .select-values > span:hover, #div_busqueda_cabecera .search-field .suggestions > span:hover {
    background-color: #E8E8E8 !important
}

#div_busqueda_cabecera .search-field .suggestions > span.error:hover {
    background-color: transparent !important;
    cursor: default
}

#div_busqueda_cabecera .select-values > span.selected, #div_busqueda_cabecera .search-field .suggestions > span.selected {
    background-color: #EEE
}

#div_busqueda_cabecera #distancias {
    width: 100%;
    width: calc(100% - 3px)
}

#div_busqueda_cabecera .select {
    cursor: pointer
}

#div_busqueda_cabecera #search-location-radius.select > span {
    margin-right: 10px
}

#div_busqueda_cabecera .select > span:after {
    content: "\E5CF";
    display: inline-block;
    line-height: 40px;
    position: absolute;
    right: 3px;
    top: 0
}

#div_busqueda_cabecera #search-location-radius.select > span:after {
    right: 0
}

#div_busqueda_cabecera .select.desp .select-values {
    display: block
}

#div_busqueda_cabecera .select .select-values > span {
    position: relative
}

#div_busqueda_cabecera #search-location-radius.select .select-values > span {
    text-align: right;
    padding-left: 0;
    padding-right: 10px
}

#div_busqueda_cabecera .select .select-values:hover > span.selected {
    background-color: inherit
}

@media screen and (max-width: 1800px) {
    #div_busqueda_cabecera {
        margin-left: 5%;
        margin-right: 14%
    }
}

@media screen and (max-width: 1664px) {
    #div_busqueda_cabecera {
        margin-left: 3%;
        margin-right: 16%
    }

    #cabecera .navegacion_about .navegacion_titulo {
        margin-right: 1px
    }

    #cabecera #publicar {
        right: 132px
    }

    #cabecera #login {
        right: 66px
    }
}

@media screen and (max-width: 1499px) {
    #cabecera {
        display: block;
        height: 141px
    }

    #link_home {
        margin-left: 10px;
        height: 36px
    }

    #cabecera_sup_gen #div_logo #link_home img, #cabecera_sup_buscar #div_logo #link_home img {
        position: absolute
    }

    #cabecera #cabecera_sup_buscar, #cabecera #cabecera_sub_buscar {
        display: block;
        width: auto
    }

    #cabecera #cabecera_sup_buscar {
        height: auto
    }

    #cabecera #cabecera_sub_buscar {
        height: auto;
        padding: 0 10px
    }

    #div_contador_anuncios_fotos_falsas {
        position: relative;
        bottom: initial;
        margin-top: 11px;
        margin-left: 9px
    }

    #cabecera #publicar, #cabecera #login, #cabecera .navegacion_about {
        top: -75px
    }

    #cabecera #publicar {
        right: 120px
    }

    #cabecera #login {
        right: 61px
    }

    #cabecera .navegacion_about {
        right: 10px
    }

    #div_busqueda_cabecera {
        position: relative;
        width: 100%;
        max-width: none;
        margin: 13px 0 0px !important
    }

    #div_busqueda_cabecera #search-sector, #div_busqueda_cabecera .search-field {
        margin-right: 10px
    }

    #div_busqueda_cabecera #search-field, #div_busqueda_cabecera #search-field-location {
        width: calc(50% - 87px)
    }

    #div_busqueda_cabecera #search-sector ~ #search-field, #div_busqueda_cabecera #search-sector ~ #search-field-location {
        width: calc(50% - 156px)
    }

    #cabecera .navegacion_about .navegacion_menu {
        padding-top: 6px !important
    }

    #cabecera .navegacion_about .navegacion_menu ul.drop {
        min-width: 148px
    }
}

@media screen and (max-width: 800px) {
    #cabecera {
        height: auto
    }

    #cabecera #cabecera_sup_buscar {
        height: 68px
    }

    #cabecera #cabecera_sub_buscar {
        height: auto;
        text-align: left;
        padding: 0
    }

    #div_contador_anuncios_fotos_falsas {
        margin-top: 0;
        bottom: 5px;
        position: absolute
    }

    #cabecera #ver_busqueda, #cabecera #publicar, #cabecera #login, #cabecera .navegacion_about {
        top: -59px
    }

    #cabecera #login {
        top: -61px;
        right: 12px
    }

    #cabecera #login img {
        width: 26px;
        height: 30px
    }

    #cabecera .navegacion_about {
        right: 7px
    }

    #cabecera .navegacion_about .navegacion_titulo {
        width: 37px;
        height: 40px;
        font-size: 50px;
        line-height: 40px
    }

    #cabecera #publicar, #cabecera .navegacion_about .navegacion_titulo {
        margin-right: 0px !important
    }

    #cabecera .navegacion_about .navegacion_menu ul.drop {
        padding-top: 13px
    }

    #cabecera #publicar {
        width: 45px;
        height: 40px;
        right: 79px;
        font-size: 34px;
        line-height: 40px;
        text-align: center
    }

    #cabecera #ver_busqueda {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        width: 45px;
        height: 40px;
        right: 119px;
        font-size: 37px;
        line-height: 41px;
        text-align: center
    }

    #cabecera #div_busqueda_cabecera {
        display: block;
        height: auto;
        width: auto;
        padding: 9px;
        margin: -9px 0 0px !important;
        position: relative;
        top: 0;
        left: 0
    }

    #div_busqueda_cabecera .search-field, #div_busqueda_cabecera .search-field input, #div_busqueda_cabecera .search-field > div, #div_busqueda_cabecera #search-sector, #div_busqueda_cabecera #sectores > span, #div_busqueda_cabecera #filters > span, #div_busqueda_cabecera #search-submit, #div_busqueda_cabecera #search-submit > span {
        height: 35px;
        line-height: 35px;
        font-size: 15px
    }

    #div_busqueda_cabecera input::-webkit-input-placeholder {
        font-size: 15px
    }

    #div_busqueda_cabecera input:-moz-placeholder {
        font-size: 15px
    }

    #div_busqueda_cabecera input:-ms-input-placeholder {
        font-size: 15px
    }

    #div_busqueda_cabecera .select .select-values, #div_busqueda_cabecera .search-field .suggestions {
        top: 35px;
        font-size: 15px
    }

    #div_busqueda_cabecera .select .select-values > span, #div_busqueda_cabecera .search-field .suggestions > span {
        padding: 10px 7px;
        font-size: 15px
    }

    #div_busqueda_cabecera .select > span:after {
        height: 35px;
        line-height: 35px
    }

    #div_busqueda_cabecera #locate {
        font-size: 20px
    }

    #div_busqueda_cabecera #geolocalizado, #div_busqueda_cabecera #search-location-radius, #div_busqueda_cabecera #filters {
        font-size: 15px
    }

    #div_busqueda_cabecera #search-sector {
        display: block;
        width: 100% !important;
        border: 0;
        padding: 0;
        margin: 0;
        margin-top: 9px;
        height: 21px;
        line-height: 21px
    }

    #div_busqueda_cabecera #search-sector > span {
        display: none
    }

    #div_busqueda_cabecera #sectores {
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        border: 0
    }

    #div_busqueda_cabecera #sectores > span {
        display: inline-block;
        padding: 0;
        margin: 0;
        margin-right: 20px;
        line-height: 21px;
        height: 21px
    }

    html.droid #div_busqueda_cabecera #sectores > span {
        line-height: 23px
    }

    #div_busqueda_cabecera #sectores > span:before {
        content: "radio_button_unchecked";
        font-size: 19px;
        display: inline-block;
        margin: 0;
        margin-right: 5px;
        vertical-align: top;
        line-height: 21px;
        height: 21px;
        color: #0072C6
    }

    #div_busqueda_cabecera #sectores > span.selected {
        background-color: transparent !important
    }

    #div_busqueda_cabecera #sectores > span.selected:before {
        content: "radio_button_checked"
    }

    #div_busqueda_cabecera .search-field {
        display: block;
        width: 100% !important;
        width: calc(100% - 2px) !important;
        padding: 0;
        margin: 0;
        margin-top: 9px
    }

    #div_busqueda_cabecera #search-field-location {
        margin-top: 11px
    }

    #div_busqueda_cabecera #search-sector + #search-field-location {
        margin-top: 9px
    }

    #div_busqueda_cabecera #distancias {
        width: calc(100% - 6px)
    }

    #div_busqueda_cabecera #search-field {
        display: inline-block;
        width: calc(100% - 59px) !important;
        margin-right: 10px
    }

    #div_busqueda_cabecera #search {
        width: calc(100% - 122px)
    }

    #div_busqueda_cabecera #filters {
        width: 106px;
        padding: 0 6px 0 9px;
        position: absolute;
        right: 0
    }

    #div_busqueda_cabecera #filters > span {
        padding: 4px 8px;
        font-size: 13px
    }

    #div_busqueda_cabecera #search-submit {
        width: 25px;
        padding: 0 10px
    }

    #div_busqueda_cabecera #search-submit span {
        font-size: 25px;
        width: auto;
        margin: 0;
        padding: 0
    }

    #div_busqueda_cabecera #search-submit input {
        display: none
    }

    #cabecera_sub_buscar .navegacion_about {
        display: block;
        width: auto
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu {
        display: none;
        top: 40px;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        border: 0;
        z-index: 1;
        background-color: #fff
    }

    #cabecera_sub_buscar .navegacion_about:hover .navegacion_menu {
        display: none
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop {
        padding: 0;
        border: 0;
        margin: 0 auto;
        max-height: 122px;
        min-height: 122px;
        padding-top: 3px
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop li {
        display: inline-block;
        margin: 1px auto;
        padding-top: 1px;
        height: 33px;
        width: calc(50% - 8px);
        border-radius: 3px;
        display: block;
        background-color: #CA1E25;
        font-size: 15px;
        box-sizing: border-box;
        vertical-align: middle;
        text-align: center;
        font-weight: 700;
        margin-top: 1px;
        margin-bottom: 7px
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop li a, #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop li span {
        color: #fff
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop li:nth-child(odd) {
        width: calc(50% - 8px)
    }

    #cabecera .navegacion_about ul.drop li > * {
        height: auto;
        line-height: 34px;
        padding: 0
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu .sep_on:before {
        display: none
    }

    #cabecera_sub_buscar .navegacion_about.desp {
        right: 0;
        width: 100%;
        background-color: #fff;
        text-align: right
    }

    #cabecera_sub_buscar .navegacion_about.desp .navegacion_menu {
        display: block !important;
        border-bottom: 1px solid #E8E8E8
    }

    #cabecera_sub_buscar .navegacion_about.desp .navegacion_titulo {
        width: 40px;
        font-size: 40px
    }

    #cabecera_sub_buscar .navegacion_about.desp .navegacion_titulo:before {
        content: "close";
        color: #0072C6;
        background-color: #fff;
        margin: -1px 0 0;
        padding: 0;
        width: 40px;
        line-height: 42px;
        font-size: 40px;
        font-weight: 700
    }

    #cabecera_sub_buscar .navegacion_about.desp ~ #div_busqueda_cabecera {
        visibility: hidden
    }

    #div_busqueda_cabecera #search {
        visibility: hidden
    }

    #div_busqueda_cabecera #search.showplaceholder {
        visibility: visible
    }

    #div_busqueda_cabecera .search-field .suggestions {
        padding: calc(3px + 1px) 3px
    }

    #cabecera .navegacion_about .navegacion_menu {
        right: 0
    }

    html.mobile #cabecera .navegacion_about .navegacion_menu {
        right: 0
    }
}

@media screen and (max-width: 330px) {
    #div_busqueda_cabecera #sectores > span {
        margin-right: 10px
    }
}

#favoritos_num .icono {
    color: #CA1E25
}

html.favoritos #anuncios_favoritos {
    position: fixed;
    width: 100%;
    height: 105px;
    bottom: 0;
    right: 0;
    color: #303030;
    background-color: #fff;
    margin: 0;
    padding: 0;
    z-index: 1001;
    border-top: 1px solid #E8E8E8
}

html.favoritos #anuncios_favoritos > div {
    display: block;
    overflow: hidden;
    height: 106px;
    position: absolute;
    width: 100%
}

html.favoritos #content {
    padding-bottom: 106px
}

html.favoritos #favoritos_resultados, html.favoritos #favoritos_menu {
    position: absolute;
    height: 95px;
    padding: 0 1px 0 0;
    border-left: 1px solid #E8E8E8
}

html.favoritos #favoritos_resultados {
    width: 94%;
    width: calc(100% - 113px);
    height: 120px;
    left: 0;
    overflow-y: hidden;
    overflow-x: overlay
}

html.favoritos #favoritos_menu {
    right: 0;
    width: 90px;
    max-width: 90px;
    padding: 10px;
    text-align: center
}

.favoritos_boton {
    display: inline-block;
    line-height: 0;
    width: 34px;
    width: calc(50% - 12px);
    cursor: pointer;
    padding: 5px 5px 6px 5px;
    margin: 0;
    color: #fff;
    background-color: #0072C6;
    text-align: center;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 18px
}

.favoritos_boton img {
    height: 18px;
    width: 18px
}

.favoritos_boton.disabled {
    background-color: #888;
    cursor: default
}

html.favoritos #favoritos_resultados .anuncio {
    display: table-cell;
    vertical-align: top;
    padding: 0 1px 0 0;
    position: relative;
    width: 105px
}

html.favoritos #favoritos_resultados .anuncio:last-of-type {
    padding: 0
}

html.favoritos #favoritos_resultados .anuncio .anuncio_img {
    line-height: 0;
    display: block
}

html.favoritos #favoritos_resultados .anuncio .anuncio_img img {
    width: 105px;
    height: 105px;
    line-height: 0
}

html.favoritos #favoritos_resultados .anuncio .anuncio_titulo {
    display: none
}

html.favoritos #favoritos_resultados .anuncio.seleccionado .anuncio_img:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    border-top: 10px solid #CA1E25;
    width: 105px;
    z-index: 1;
    opacity: .8
}

#favoritos_resultados #sin_favoritos {
    margin-top: 45px;
    display: block;
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px
}

#resultados .anuncio .favorita {
    display: none;
    position: absolute;
    margin-top: -60px;
    left: 0;
    right: 5px;
    height: 0;
    width: 0
}

#resultados .anuncio .favorita .favorita_corazon {
    position: absolute;
    top: 20px;
    left: 0;
    right: 5px;
    background-color: #fff;
    height: 30px;
    width: 34px;
    opacity: .85
}

#resultados .anuncio .favorita .favorita_corazon:before {
    content: "\E87E";
    position: relative;
    color: #CA1E25;
    height: 30px;
    width: 34px;
    text-align: center;
    line-height: 30px
}

#resultados .anuncio:hover .favorita, #resultados .anuncio.favorita_on .favorita {
    display: block
}

#resultados .anuncio.favorita_on .favorita .favorita_corazon:before {
    content: "\E87D"
}

#favoritos_num {
    margin-bottom: 2px
}

#favoritos_num img {
    display: inline-block;
    width: 22px
}

#favoritos_num span {
    vertical-align: top;
    margin-left: 7px;
    font-size: 16px;
    margin-top: 2px;
    display: inline-block
}

html.favoritos #anuncio_cuerpo {
    margin-bottom: 116px
}

@media screen and (max-width: 800px) {
    #favoritos {
    }

    #resultados .anuncio:hover .favorita {
        display: none
    }

    html.favoritos #resultados .anuncio .favorita, #resultados .anuncio.favorita_on .favorita {
        display: block
    }

    html.favoritos #favoritos_resultados .anuncio {
        width: 76px
    }

    #favoritos_boton_prev, #favoritos_boton_sig {
        display: none
    }

    html.favoritos #favoritos_resultados .anuncio .anuncio_img img {
        width: 76px;
        height: 76px
    }

    html.favoritos #favoritos_resultados, html.favoritos #favoritos_menu {
        height: 76px
    }

    html.favoritos #anuncios_favoritos {
        height: 76px
    }

    html.favoritos #anuncios_favoritos > div {
        height: 76px
    }

    html.favoritos #content {
        padding-bottom: 78px
    }

    .favoritos_boton {
        border-top: none
    }

    #favoritos_resultados #sin_favoritos {
        margin-top: 30px;
        margin-left: 0;
        text-align: center
    }

    html.favoritos #anuncio_cuerpo {
        margin-bottom: 90px
    }

    html.favoritos #favoritos_resultados .anuncio.seleccionado .anuncio_img:after {
        width: 76px
    }

    #favoritos_num span {
        margin-left: 6px
    }
}

@media screen and (max-width: 550px) {
    html.favoritos #favoritos_resultados {
        width: 77%;
        width: calc(100% - 113px)
    }

    html.favoritos #anuncio_cuerpo {
        margin-bottom: 0
    }

    html.ios #favoritos_num {
        position: absolute;
        bottom: 22px;
        left: 32px
    }
}

@media screen and (max-width: 359px) {
    #favoritos_resultados #sin_favoritos {
        font-size: 13px
    }
}

@media screen and (max-width: 320px) {
    html.favoritos #favoritos_resultados {
        width: 64%;
        width: calc(100% - 113px)
    }
}

#content {
    width: 100%;
    max-width: none;
    padding: 0;
    margin-top: 100px
}

#formulario_adulto {
    position: fixed;
    top: 0;
    left: 50%;
    width: 460px;
    margin-left: -256px;
    color: #303030;
    background-color: #fff;
    box-shadow: 0 7px 10px rgba(0, 0, 0, .3);
    padding: 22px 25px 25px 25px;
    z-index: 1111
}

#formulario_adulto:before {
    content: "";
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    height: 50px
}

#formulario_adulto h3, #formulario_adulto span.titulo {
    display: block;
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 15px;
    font-weight: 700
}

#formulario_adulto h3:first-of-type, #formulario_adulto span.titulo:first-of-type {
    margin-top: 0
}

#formulario_adulto.rgpd h3 + p, #formulario_adulto.rgpd span.titulo + p {
    margin-top: 5px;
    font-size: 12px
}

#formulario_adulto_lightbox {
    z-index: 1001
}

.formulario_adulto {
    display: none
}

#formulario_adulto select {
    margin-top: 8px;
    width: 250px;
    font-size: 15px;
    border-color: #E8E8E8;
    padding: 5px
}

#formulario_adulto_ok {
    font-size: 15px;
    font-weight: 700;
    padding: 5px 20px;
    border: 0;
    margin-top: 20px;
    cursor: pointer
}

#formulario_adulto .error {
    color: red;
    margin-left: 15px
}

#advertencia_cookies {
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 20px
}

#advertencia_cookies a, #advertencia_cookies span {
    text-decoration: underline;
    cursor: pointer
}

html.adultform .formulario_adulto {
    display: block
}

html.adultform body {
    overflow: hidden
}

#capa_configuracion_cookies {
    margin: 20px auto 0;
    text-align: center;
    width: 67%;
    box-sizing: border-box
}

#capa_configuracion_cookies > span {
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline
}

#capa_configuracion_cookies > span:first-of-type {
    margin-left: 1px;
    margin-right: 10px
}

.boton_ancho_completo {
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

#capa_configuracion_cookies #formulario_adulto_ok {
    margin-top: 25px;
    padding: 11px 20px
}

@media screen and (max-width: 800px) {
    #capa_configuracion_cookies {
        width: 100%
    }

    .boton_ancho_completo {
        width: 100%
    }

    html.adultform #cabecera_sub_buscar #login, html.adultform #cabecera_sub_buscar #publicar, html.adultform #cabecera_sub_buscar #ver_busqueda, html.adultform #cabecera_sub_buscar .navegacion_about {
        display: none
    }

    #formulario_adulto {
        padding: 12px 15px 15px
    }

    #formulario_adulto {
        width: auto;
        margin: 0;
        left: 0
    }
}

#resultados, #cabecera_resultados {
    position: relative;
    width: 100%;
    min-width: 80%;
    max-width: 1560px;
    margin: 0 auto
}

#resultados_contenedor {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding-left: 104px;
    max-width: 100%;
    box-sizing: border-box
}

#resultados_contenedor.castings-plazas-escorts, #resultados_contenedor.alquiler-habitaciones-escorts, #resultados_contenedor.fotografos-escorts {
    padding-left: 0
}

html.verficha #resultados_contenedor {
    margin-top: 100px
}

#cabecera_resultados h1 {
    font-size: 22px;
    margin: 0 0 10px 10px;
    color: #707070;
    display: inline-block
}

#breadcrumbs {
    font-size: 16px;
    margin-bottom: 20px;
    color: #707070;
    margin-left: 10px
}

#breadcrumbs ol {
    display: inline;
    margin: 0;
    padding: 0
}

#breadcrumbs li {
    display: inline-block
}

#breadcrumbs li:before {
    content: ">"
}

#breadcrumbs li:first-child:before {
    content: ""
}

#breadcrumbs a {
    color: #707070
}

#breadcrumbs span {
    margin: 0 10px
}

#breadcrumbs li:first-child span {
    margin-left: 0 !important
}

#timeline {
    position: absolute;
    top: 0;
    left: 0
}

#resultados_contenedor.castings-plazas-escorts #timeline, #resultados_contenedor.alquiler-habitaciones-escorts #timeline, #resultados_contenedor.fotografos-escorts #timeline {
    display: none
}

#timeline .timestamp {
    position: absolute;
    display: none;
    left: 0;
    border-left: 0;
    padding: 5px 2px;
    margin-bottom: 5px;
    margin-right: 5px;
    color: #fff;
    background-color: #CA1E25;
    width: 95px;
    z-index: 100;
    text-align: center;
    font-size: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

html[lang="en"] #timeline .timestamp {
    display: box;
    display: flexbox;
    display: flex;
    flex-direction: column-reverse
}

html[lang="en"] #timeline .timestamp.top {
    flex-direction: column
}

html[lang="en"] #timeline .ayer {
    font-size: 18px;
    padding: 10px 2px
}

.timestamp .big {
    font-size: 16px;
    white-space: nowrap;
    font-weight: 700;
    margin: 0 auto;
    overflow: hidden
}

html[lang="en"] .timestamp .big {
    font-size: 15px
}

.timestamp .small {
    font-size: 13px
}

#timeline .current {
    position: fixed !important;
    top: 5px !important
}

#timeline .past {
    display: none !important
}

#timeline .mayor {
    display: none
}

#resultados img {
    border: 0
}

#resultados .anuncio {
    width: 16.6%;
    width: calc(100% / 6);
    max-width: 260px;
    position: relative;
    display: inline-block;
    vertical-align: top
}

#resultados .anuncio.profesional {
    width: 33.3%;
    width: calc(100% / 3);
    max-width: 100%
}

#resultados .anuncio > div {
    position: relative;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    z-index: 10
}

#resultados .anuncio strong, #resultados .anuncio em {
    color: #CA1E25;
    background-color: #FF8;
    padding: 0 2px;
    font-weight: 700;
    font-style: normal
}

#resultados .anuncio_img {
    display: block;
    text-align: center;
    padding: 0;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    overflow: hidden
}

#resultados .anuncio_img > img {
    display: block !important;
    width: 100%;
    height: auto
}

#resultados .anuncio_img > img[src="#"], #resultados .anuncio_img > img.lazy {
    visibility: hidden
}

#resultados .anuncio_num_img {
    display: block;
    height: 13px;
    font-size: 11px;
    color: #fff;
    background-color: #666;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px #FFF solid;
    border-right: 0;
    border-bottom: 0;
    padding: 0;
    margin: 0;
    padding-left: 3px;
    line-height: 13px;
    border-top-left-radius: 3px;
    filter: alpha(opacity=90);
    opacity: .9
}

#resultados .anuncio_num_img > span {
    vertical-align: middle;
    display: inline-block
}

#resultados .anuncio_num_img > span:first-child {
    margin-bottom: 2px
}

#resultados .anuncio_num_img .icono_fotos {
    padding: 0 2px;
    height: 13px
}

#resultados .anuncio_num_img .fotos_cargando {
    padding: 1px 3px;
    height: 11px;
    display: none
}

.anuncio .patrocinado {
    display: inline-block;
    font-size: 12px;
    background-color: #000;
    opacity: .7;
    color: #FFF;
    padding: 1px 5px 2px;
    position: absolute;
    bottom: 0
}

#resultados .bloque_caracteristicas {
    position: relative
}

#resultados .caracteristicas {
    display: block;
    line-height: 0;
    position: absolute;
    right: 0;
    bottom: 10px;
    opacity: .85
}

#resultados .caracteristicas:empty {
    display: none
}

#resultados .caracteristicas > i {
    font-weight: 700;
    padding: 3px 5px;
    width: 24px;
    height: 24px;
    vertical-align: top;
    display: block
}

#resultados .caracteristicas .certificado {
    background-color: #008A00;
    color: #fff
}

#resultados .caracteristicas .independiente {
    background-color: #E70074
}

#resultados .caracteristicas .independiente img {
    height: 22px;
    margin-top: 1px;
    margin-left: 1px
}

#resultados .caracteristicas .con_video {
    background-color: #DB3B00;
    color: #fff;
    padding-left: 3px;
    padding-right: 7px;
    cursor: pointer
}

#resultados .con_video a {
    color: white !important;
    z-index: 99 !important;
    height: 1px;
    width: 1px
}

#resultados .anuncio_titulo {
    display: block;
    font-size: 15px;
    line-height: 19px;
    padding: 5px 9px 9px 9px;
    color: #303030;
    text-overflow: ellipsis;
    overflow: hidden
}

#resultados_contenedor.castings-plazas-escorts .anuncio_titulo, #resultados_contenedor.alquiler-habitaciones-escorts .anuncio_titulo, #resultados_contenedor.fotografos-escorts .anuncio_titulo {
    font-size: 17px
}

#resultados .anuncio_texto {
    display: block;
    font-size: 15px;
    line-height: 19px;
    padding: 0 9px 9px 9px;
    color: #303030;
    text-overflow: ellipsis;
    overflow: hidden
}

#resultados .profesional .anuncio_titulo {
    margin-top: 0;
    font-weight: 700
}

#resultados .profesional .datos {
    padding: 9px;
    margin: 0;
    border-top: 1px solid #E8E8E8;
    color: #707070;
    position: relative;
    height: 17px
}

#resultados .profesional .datos .fecha {
    text-align: right;
    position: absolute;
    top: 9px;
    right: 9px
}

html.droid #resultados .profesional .datos .fecha {
    top: 11px
}

#resultados .profesional .anuncio_categorias {
    margin: -3px 0 0 0;
    display: inline-block
}

html.droid #resultados .profesional .anuncio_categorias {
    margin: -2px 0 0 0
}

#resultados .anuncio_titulo span.fragment {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: block
}

#resultados .anuncio_titulo span.fragment:first-child {
    padding-top: 0
}

#resultados .anuncio_titulo em {
    display: inline-block
}

#resultados .anuncio_titulo span.fragment + span.experiencias_foro {
    display: inline-block;
    padding-top: 10px
}

#resultados .anuncio_categorias {
    position: relative;
    margin: 9px 5px 0 5px
}

#resultados .anuncio_categoria {
    display: inline-block;
    white-space: nowrap;
    margin: 2px 2px 3px 3px;
    vertical-align: middle;
    max-width: 182px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    color: #2A5279;
    background-color: #DEF2FC;
    font-family: Verdana;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 3px;
    max-width: calc(100% - 6px);
    box-sizing: border-box
}

html.droid #resultados .anuncio_categoria {
    padding: 5px 8px 4px 8px
}

#resultados .anuncio_categoria a {
    color: #2A5279;
    line-height: 0;
    display: inline-block
}

#resultados .anuncio_categoria.categoria_sel_on {
    padding: 3px 7px;
    border: 1px solid #2A5279
}

html.droid #resultados .anuncio_categoria.categoria_sel_on {
    padding: 4px 7px 3px 7px
}

#resultados .anuncio_distancia, #resultados .anuncio_salidas {
    display: block;
    padding: 9px;
    padding-top: 0;
    padding-left: 28px;
    position: relative
}

#resultados .anuncio_salidas {
    margin-top: -3px
}

#resultados .anuncio_distancia > i, #resultados .anuncio_salidas > i {
    color: #CA1E25;
    font-size: 16px;
    height: 16px;
    margin-left: -2px;
    margin-right: 6px;
    vertical-align: bottom;
    text-shadow: 0 0 1px #AAA;
    position: absolute;
    left: 9px;
    top: 0
}

#resultados .anuncio_salidas > i {
    color: #008A00
}

#resultados .puntuaciones {
    display: table;
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    right: -1px
}

#resultados .puntuaciones .numero_experiencias {
    border-color: #0072C6;
    background-color: #0072C6;
    color: #fff
}

#resultados .puntuaciones .puntuacion {
    display: table-cell;
    width: 20% !important;
    margin: 0;
    padding: 3% 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left-color: #E8E8E8
}

html.droid #resultados .puntuaciones .puntuacion {
    padding: calc(3% + 1px) 0 3%
}

#resultados .puntuaciones .puntuacion:first-child {
    width: 30% !important;
    border-left: 0
}

#resultados .puntuaciones .puntuacion_recomendable {
    display: none !important
}

#resultados .puntuaciones .puntuacion > img {
    vertical-align: sub;
    height: 14px;
    margin-right: 8px
}

#resultados .puntuaciones .puntuacion > i {
    font-size: 16px;
    color: #fff;
    vertical-align: sub;
    width: 16px;
    height: 16px;
    margin-right: 8px
}

#resultados .top_on > div, #resultados .top_on .anuncio_titulo, #resultados .destacado_on > div, #resultados .destacado_on .anuncio_titulo {
    background-color: #FF8
}

#resultados .logo_agencia {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding: 0;
    line-height: 0;
    padding-bottom: 20%;
    border-top: 1px solid #fff
}

#resultados .logo_agencia img {
    display: block;
    width: 100%;
    height: auto;
    line-height: 0
}

@media screen and (max-width: 1420px) {
    #resultados .anuncio {
        width: 20% !important
    }

    #resultados .anuncio.profesional {
        width: 33.3% !important;
        width: calc(100% / 3) !important
    }
}

@media screen and (max-width: 1160px) {
    #resultados .top_on:nth-child(n+13) {
        display: none
    }

    #resultados .anuncio {
        width: 25% !important
    }

    #resultados .anuncio.profesional {
        width: 33.3% !important;
        width: calc(100% / 3) !important
    }
}

@media screen and (max-width: 805px) {
    #resultados .top_on:nth-child(n+10) {
        display: none
    }

    #resultados .anuncio {
        width: 33.3% !important;
        width: calc(100% / 3) !important
    }

    #resultados .anuncio.profesional {
        width: 50% !important
    }

    #resultados .anuncio > div {
        margin: 5px !important
    }

    #cabecera_resultados h1 {
        font-size: 20px;
        margin: 14px 0 14px 10px
    }

    #cabecera_resultados h1 {
        margin: 5px 8px !important
    }

    #resultados_contenedor {
        padding-left: 0px !important
    }

    #breadcrumbs {
        font-size: 14px;
        margin-bottom: 10px;
        color: #707070;
        margin-left: 8px
    }

    #breadcrumbs span {
        margin: 0 8px
    }

    #timeline .timestamp {
        width: 50px;
        opacity: .8;
        display: none !important;
        margin-top: 0 !important;
        font-size: 20px
    }

    html[lang="en"] #timeline .ayer {
        font-size: 11px;
        padding: 7px 2px
    }

    #timeline .current, #timeline .timestamp:first-child {
        display: block !important
    }

    #timeline .big {
        font-size: 15px;
        white-space: normal
    }

    #timeline .minutos .big {
        width: 26px
    }

    #timeline .small {
        display: none
    }

    #timeline .mas {
        display: none
    }

    #timeline .mayor {
        display: inline
    }
}

@media screen and (max-width: 520px) {
    #resultados .top_on:nth-child(n+7) {
        display: none
    }

    #resultados .anuncio {
        width: 50% !important
    }

    #resultados .anuncio.profesional {
        width: 100% !important
    }

    #resultados .anuncio_categorias {
        margin: 13px 5px 4px 5px
    }

    #resultados .anuncio_categoria {
        padding: 5px 10px
    }

    html.droid #resultados .anuncio_categoria {
        padding: 6px 10px 4px 10px
    }

    #resultados .link_expes {
        display: block;
        margin-top: 3px
    }
}

#sin_resultados {
    display: none;
    width: 90%;
    min-width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    margin-top: 15px;
    color: #8C8C8C;
    border: 1px dotted #E8E8E8;
    background-color: #fff;
    border-radius: 15px;
    font-size: 15px
}

#resultados_contenedor.castings-plazas-escorts #sin_resultados, #resultados_contenedor.alquiler-habitaciones-escorts #sin_resultados, #resultados_contenedor.fotografos-escorts #sin_resultados {
    max-width: 1620px
}

#sin_resultados .sin_resultados {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
    font-size: 16px
}

#sin_resultados .sin_resultados img {
    margin-right: 20px;
    vertical-align: text-top
}

#sin_resultados .sin_resultados i {
    color: #CA1E25;
    vertical-align: text-top;
    margin-top: -3px;
    margin-right: 12px
}

#sin_resultados .tipo_sugerencia {
    margin-left: 66px;
    margin-right: 30px;
    margin-top: 20px
}

#sin_resultados .sugerencia {
    margin-left: 66px;
    margin-right: 30px;
    margin-top: 20px
}

#sin_resultados .sugerencia img {
    margin-left: 5px;
    vertical-align: text-bottom
}

#sin_resultados a {
    text-decoration: underline;
    color: #CA1E25;
    line-height: 16px;
    display: inline-block;
    margin-bottom: 2px
}

#sin_resultados .tipo_sugerencia.tipo_sugerencia_publicar {
    margin-top: 25px;
    font-size: 15px
}

#sin_resultados .boton.publicar {
    margin-left: 66px;
    margin-top: 35px;
    height: 22px;
    line-height: 22px;
    padding: 5px 10px;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none
}

.flotante {
    color: #fff;
    background-color: #CA1E25;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    opacity: .85
}

#cargando_scroll {
    padding: 15px;
    width: 200px;
    top: 50%;
    left: 50%;
    margin-left: -115px;
    display: none
}

#cargando_scroll img {
    vertical-align: middle;
    border: 0
}

#cargando_scroll span {
    vertical-align: middle;
    margin-left: 10px
}

#cargando_scroll a {
    color: #fff;
    text-decoration: none
}

#scroll_top {
    height: 38px;
    padding: 4px 6px;
    padding-bottom: 0;
    bottom: 0;
    right: 10px;
    position: fixed;
    cursor: pointer;
    z-index: 100;
    font-size: 11px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: none
}

#scroll_top i {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px
}

.anuncio_contenedor {
    display: none
}

html.verficha .anuncio_contenedor {
    display: block
}

html.verficha #ficha, html.verficha #experiencias, html.verficha #anuncio_lightbox {
    z-index: 1001
}

html.verficha #cabecera {
    position: fixed
}

#anuncio_lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1100
}

#anuncio_contenedor {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%
}

.puntuaciones {
    height: 64px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    height: 50px
}

.puntuaciones .puntuacion, .puntuaciones .num_expes {
    display: inline-block;
    text-align: center;
    border: 1px solid;
    width: 90px;
    color: #fff;
    padding: 5px;
    margin-left: 1px;
    width: 80px
}

.puntuaciones div.num_expes {
    margin-left: 0
}

.puntuaciones .puntuacion .leyenda, .puntuaciones .num_expes .leyenda {
    display: block;
    margin-top: 2px
}

.puntuaciones .puntuacion .numero, .puntuaciones .num_expes .numero {
    display: block;
    font-size: 30px;
    font-size: 20px
}

.puntuaciones .puntuacion_recomendable .numero:after {
    content: "%";
    display: inline;
    font-size: 20px;
    margin-left: 3px;
    font-size: 15px
}

.puntuaciones .puntuacion_recomendable.desconocido .numero:after {
    display: none;
    font-size: 15px
}

.puntuaciones .puntuacion_recomendable {
    display: none !important
}

.experiencias {
    border-top: 1px #E8E8E8 solid
}

.experiencias cite, .experiencias blockquote {
    display: inline;
    margin: 0;
    padding: 0;
    font-style: inherit
}

.experiencia {
    margin-top: 25px;
    color: #707070;
    margin-bottom: 10px;
    position: relative
}

.experiencia:before {
    content: "";
    position: relative;
    display: block;
    border-bottom: 1px dotted #d0d0d0;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 35px
}

.experiencias h3 + .experiencia:before, .experiencias .titulo + .experiencia:before {
    display: none
}

.experiencia .fecha {
    display: inline-block;
    vertical-align: top;
    width: 13%;
    width: calc(100px);
    font-size: 15px
}

.experiencia a, .experiencia .experiencia_contenedor {
    display: inline-block;
    vertical-align: top;
    width: 69%;
    width: calc(100% - 100px - 135px);
    width: calc(100% - 100px - 100px);
    color: #303030
}

.experiencia .nombre {
    display: block;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: -5px
}

.experiencia .nombre:empty {
    display: none
}

.experiencia .cita {
    display: block;
    font-size: 15px;
    vertical-align: top;
    text-align: justify;
    word-wrap: break-word
}

.experiencias .cita:after, .experiencias .cita:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 10px
}

.experiencias .cita:before {
    content: "“";
    margin-left: -10px
}

.experiencias .cita:after {
    content: "”";
    margin-right: -10px;
    text-align: right
}

.experiencia .cita img {
    position: absolute;
    margin-left: 15px;
    margin-top: 4px
}

.experiencia .origen {
    display: block;
    text-align: right;
    margin-top: 10px;
    color: #707070
}

.experiencia .notas {
    display: inline-block;
    vertical-align: top;
    width: 18%;
    width: calc(135px);
    width: calc(100px);
    text-align: right
}

.experiencia .nota {
    color: #fff;
    border: 1px solid;
    font-size: 15px;
    width: 35px;
    height: 25px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    margin-left: 1px;
    text-transform: uppercase
}

.experiencia .nota:first-child {
    margin-left: 0
}

.puntuaciones .puntuacion.mal, .puntuaciones .puntuacion.no, .experiencia .nota.mal, .experiencia .nota.no {
    background-color: #900000;
    border-color: #900000
}

.puntuaciones .puntuacion.regular, .experiencia .nota.regular {
    background-color: #e3e300;
    border-color: #e3e300;
    color: #505050
}

.puntuaciones .puntuacion.bien, .puntuaciones .puntuacion.si, .experiencia .nota.bien, .experiencia .nota.si {
    background-color: #008A00;
    border-color: #008A00
}

.puntuaciones .puntuacion.desconocido, .experiencia .nota.desconocido {
    background-color: #fff;
    border-color: #E8E8E8;
    color: #707070
}

.puntuaciones .num_expes, .puntuaciones .num_expes * {
    color: #fff;
    background-color: #0072C6;
    border-color: #0072C6
}

.experiencia .nota_recomendar {
    display: none
}

span.leyenda_experiencias {
    margin-left: 8px
}

@media screen and (max-width: 550px) {
    .puntuaciones {
        left: 0;
        right: 0;
        bottom: 0;
        display: table;
        width: 100%;
        border-spacing: 1px
    }

    .puntuaciones .puntuacion, .puntuaciones .num_expes {
        display: table-cell;
        width: 33.33%;
        text-align: center
    }

    .experiencia {
        margin-top: 20px;
        margin-bottom: 50px
    }

    .experiencia:last-of-type {
        margin-bottom: 20px
    }

    .experiencias h3 + .experiencia {
        margin-top: 25px
    }

    .experiencia:before {
        position: absolute;
        width: 100%;
        top: -25px;
        margin-bottom: 35px
    }

    .experiencia .fecha {
        display: block;
        width: 100%;
        padding-bottom: 15px;
        padding-top: 5px
    }

    .experiencia a, .experiencia .experiencia_contenedor {
        display: block;
        width: auto;
        margin: 0 10px
    }

    .experiencia .notas {
        position: absolute;
        top: 0;
        right: 0
    }
}

#anuncio_videos .contenedor li video + .play {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    background-image: url(https://cdn.slumi.com/sl/gfx/868/play-video.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    background-position: center calc(50% + 25px);
    opacity: .85;
    z-index: 1
}

video::-webkit-media-controls-overlay-play-button {
    display: none !important
}

#anuncio_videos .contenedor > .video_element {
    display: none
}

#anuncio_videos .contenedor li video.playing + .play {
    background: none
}

#anuncio_videos video.playing {
    z-index: 1
}

#anuncio_videos .contenedor li .video_element span.texto {
    margin: 5px 0;
    display: inherit;
    font-size: 15px
}

#anuncio_videos .video {
    line-height: 0
}

@media screen and (max-width: 800px) {
    #anuncio_videos .contenedor li .video_element span.texto {
        margin: 5px 5px 15px 5px;
        display: inherit;
        font-size: 15px
    }
}

#anuncio_contenedor #ficha {
    margin-top: 14px
}

#anuncio_contenedor #ficha:before, #anuncio_contenedor #experiencias:before, #anuncio_contenedor #videos:before {
    content: " ";
    background-color: #F4F4F4;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 1058px
}

#anuncio_contenedor #experiencias:before, #anuncio_contenedor #videos:before {
    width: 850px;
    margin-left: -14px
}

#anuncio_contenedor #experiencias, #anuncio_contenedor #videos {
    border: none;
    background: #F4F4F4
}

#anuncio_contenedor #experiencias .datos, #anuncio_contenedor #videos .datos {
    background-color: #fff;
    border: 1px #E8E8E8 solid;
    margin-top: 14px;
    border-bottom: 0
}

#anuncio_contenedor #experiencias .experiencias, #anuncio_contenedor #videos .videos {
    background-color: #fff;
    border: 1px #E8E8E8 solid;
    margin-bottom: 14px
}

#anuncio_contenedor #margen_inferior {
    display: block;
    height: 14px
}

#anuncio_contenedor #anuncio_acciones {
    margin-bottom: 0
}

body.wait {
    opacity: .5
}

body.wait, body.wait * {
    cursor: wait !important
}

#cabecera_resultados {
    padding-top: 20px
}

#cabecera_resultados > div {
    display: inline-block;
    vertical-align: top
}

#cabecera_resultados > div:first-child {
    width: calc(100% - 512px)
}

#contenedor_filtros_busqueda {
    display: block;
    width: auto;
    box-sizing: border-box;
    width: 502px;
    margin-right: 10px;
    text-align: right
}

#contenedor_filtros_busqueda.filtros_2 {
    padding-left: 209px
}

#contenedor_filtros_busqueda, #favoritos {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px
}

#contenedor_filtros_busqueda.filtros_3 > .filtro, #contenedor_filtros_busqueda.filtros_3 > #favoritos {
    width: 249px
}

#contenedor_filtros_busqueda.filtros_3 > #favoritos > div {
    width: 155px
}

#contenedor_filtros_busqueda.filtros_3 > #favoritos > div:first-child {
    width: 94px
}

#contenedor_filtros_busqueda .filtro, #favoritos > div {
    height: 18px;
    line-height: 19px;
    width: 49%;
    width: 207px;
    display: inline-block;
    color: #fff;
    padding: 6px 0;
    margin: 1px;
    border-radius: 3px;
    text-align: left;
    vertical-align: top;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

#favoritos > div {
    line-height: 18px
}

#contenedor_filtros_busqueda.filtros_4 #favoritos > div:nth-of-type(2) {
    line-height: 22px
}

#contenedor_filtros_busqueda.filtros_3 #favoritos > div {
    line-height: 19px
}

#contenedor_filtros_busqueda .filtro[data-src=""] {
    cursor: initial
}

#contenedor_filtros_busqueda.filtros_2 .filtro, #contenedor_filtros_busqueda.filtros_4 .filtro {
    float: left
}

#contenedor_filtros_busqueda .filtro_certificado {
    background-color: #008A00
}

#contenedor_filtros_busqueda .filtro_experiencias {
    background-color: #0072C6
}

#contenedor_filtros_busqueda .filtro_videos {
    background-color: #DB3B00
}

#contenedor_filtros_busqueda .filtro_independientes {
    background-color: #E70074
}

#favoritos {
    width: 201px;
    border-radius: 3px;
    background-color: #CA1E25;
    margin: 1px
}

#contenedor_filtros_busqueda.filtros_2 #favoritos, #contenedor_filtros_busqueda.filtros_4 #favoritos {
    width: 79px;
    margin-right: 2px;
    padding: 1px
}

#favoritos > div {
    border: 0;
    margin: 0;
    display: inline-block;
    width: calc(100% - 87px)
}

#favoritos > div:first-child {
    width: 87px
}

#contenedor_filtros_busqueda.filtros_2 #favoritos > div:first-child, #contenedor_filtros_busqueda.filtros_4 #favoritos > div:first-child {
    padding: 11px 0 1px
}

#contenedor_filtros_busqueda.filtros_2 #favoritos > div, #contenedor_filtros_busqueda.filtros_4 #favoritos > div {
    width: 100%;
    text-align: center
}

#contenedor_filtros_busqueda .filtro > i, #favoritos .icono {
    color: #fff;
    vertical-align: top;
    width: 22px;
    margin: 0 10px;
    height: 18px;
    line-height: 18px;
    font-size: 20px
}

#contenedor_filtros_busqueda.filtros_2 #favoritos .icono, #contenedor_filtros_busqueda.filtros_4 #favoritos .icono {
    margin: 0;
    margin-right: 5px
}

#contenedor_filtros_busqueda .filtro_certificado > i {
    font-weight: 700
}

#contenedor_filtros_busqueda .filtro_experiencias > i {
    font-size: 18px;
    line-height: 16px
}

#contenedor_filtros_busqueda .filtro_videos > i {
    font-weight: 700
}

#contenedor_filtros_busqueda .filtro_independientes > i {
    background: url(https://cdn.slumi.com/sl/gfx/868/i_independientes_w.svg) no-repeat;
    display: inline-block;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 50%
}

#favoritos span, #contenedor_filtros_busqueda .filtro .nombre_filtro > span {
    display: inline-block;
    width: 41px;
    margin-right: 11px;
    text-align: right
}

#contenedor_filtros_busqueda.filtros_2 #favoritos span, #contenedor_filtros_busqueda.filtros_4 #favoritos span {
    width: auto;
    margin: 0
}

div[id^="review_"] {
    cursor: pointer
}

@media screen and (max-width: 1499px) {
    #content {
        margin-top: 145px
    }

    #anuncio_contenedor {
        top: -145px
    }
}

@media screen and (max-width: 1023px) {
    #cabecera_resultados {
        padding-top: 15px
    }

    #cabecera_resultados > div {
        display: block;
        width: auto !important
    }

    #contenedor_filtros_busqueda {
        display: block;
        width: auto;
        margin: 0 9px;
        margin-bottom: 15px
    }

    #contenedor_filtros_busqueda.filtros_3 > #favoritos, #contenedor_filtros_busqueda.filtros_1 > #favoritos, #contenedor_filtros_busqueda .filtro {
        margin: 1px;
        width: calc(50% - 2px) !important;
        padding: 8px 0
    }

    #favoritos span, #contenedor_filtros_busqueda .filtro .nombre_filtro > span {
        margin-right: 9px !important;
        text-align: right
    }

    #contenedor_filtros_busqueda.filtros_2 .filtro, #contenedor_filtros_busqueda.filtros_4 .filtro {
        float: none
    }

    #favoritos {
        text-align: left
    }

    #contenedor_filtros_busqueda.filtros_2 #favoritos, #contenedor_filtros_busqueda.filtros_4 #favoritos {
        display: block;
        width: auto;
        text-align: center;
        padding: 8px 0
    }

    #favoritos > div {
        display: inline
    }

    #contenedor_filtros_busqueda.filtros_2 {
        padding-left: 0
    }

    #contenedor_filtros_busqueda.filtros_2 #favoritos > div, #contenedor_filtros_busqueda.filtros_4 #favoritos > div {
        display: inline
    }

    #favoritos {
        padding: 9px 0 7px !important
    }

    #contenedor_filtros_busqueda.filtros_4 #favoritos > div:nth-of-type(2), #contenedor_filtros_busqueda.filtros_3 #favoritos > div {
        line-height: 18px
    }
}

@media screen and (max-width: 800px) {
    #cabecera_resultados {
        padding-top: 10px
    }

    #content {
        margin-top: 170px
    }

    #header.busqueda_sectores + main #content {
        margin-top: 200px
    }

    #anuncio_contenedor {
        top: -10px;
        z-index: 1
    }

    #anuncio_contenedor #experiencias .experiencias, #anuncio_contenedor #videos .videos {
        margin-bottom: 0
    }

    #anuncio_contenedor #experiencias .datos, #anuncio_contenedor #videos .datos {
        margin-top: 0
    }

    html.verficha #anuncio_lightbox {
        display: none
    }

    #cabecera_resultados {
        margin-bottom: 5px
    }

    #breadcrumbs {
        margin-top: 5px
    }

    #contenedor_filtros_busqueda {
        margin: 20px 4px 15px
    }

    #favoritos, #contenedor_filtros_busqueda .filtro {
        padding: 9px 0 8px
    }

    #contenedor_filtros_busqueda.filtros_2 #favoritos .icono, #contenedor_filtros_busqueda.filtros_4 #favoritos .icono {
        margin: 0;
        margin-right: 15px
    }

    #contenedor_filtros_busqueda .filtro_independientes > i {
        background-size: 19px;
        height: 19px;
        margin-top: -1px !important
    }

    html.droid #contenedor_filtros_busqueda .filtro_independientes > i {
        margin-top: -2px !important
    }

    #timeline .current {
        top: 172px !important
    }

    #header.busqueda_sectores + main #timeline .current {
        top: 202px !important
    }

    html.noheader #header + main #timeline .current {
        top: 5px !important
    }

    html.verficha #resultados_contenedor, html.verficha #cabecera {
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        -ms-filter: none;
        filter: none
    }

    #scroll_top {
        display: none !important
    }
}

@media screen and (max-width: 550px) {
    #anuncio_contenedor #ficha {
        margin-top: 0
    }

    #anuncio_lightbox, #margen_inferior {
        display: none
    }

    #sin_resultados .sugerencia, #sin_resultados .tipo_sugerencia, #sin_resultados .boton.publicar {
        margin-left: 30px;
        margin-right: 30px
    }

    #contenedor_filtros_busqueda .filtro > i, #favoritos .icono {
        margin: 0 5px
    }

    #contenedor_filtros_busqueda .filtro > i {
        margin: 0 5px
    }

    #contenedor_filtros_busqueda .filtro_experiencias > i {
        font-size: 17px;
        line-height: 17px;
        margin: 0 3px 0 7px
    }

    #favoritos .icono {
        margin-top: -1px !important
    }

    #contenedor_filtros_busqueda, #favoritos {
        position: relative;
        display: inline-block;
        vertical-align: top;
        font-size: 13px
    }
}

@media screen and (max-width: 360px) {
    #contenedor_filtros_busqueda.filtros_1 #favoritos span, #contenedor_filtros_busqueda.filtros_3 #favoritos span, #contenedor_filtros_busqueda .filtro .nombre_filtro > span {
        width: 40px !important
    }
}

@media screen and (max-width: 350px) {
    #contenedor_filtros_busqueda .filtro > i, #favoritos .icono {
        display: none
    }

    #contenedor_filtros_busqueda .filtro .nombre_filtro {
        margin-left: 10px
    }

    #contenedor_filtros_busqueda.filtros_3 #favoritos > div > span {
        padding-left: 10px
    }
}