html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent
}

input[type="number"], input[type="text"], input[type="password"], input[type="email"], textarea {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important
}

input[type="button"], input[type="submit"], button {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0
}

input:focus, button:focus, select:focus, textarea:focus, video:focus {
    outline: none
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input::-ms-clear {
    width: 0;
    height: 0
}

a:active, a:focus {
    outline: none
}

img {
    -webkit-user-drag: none
}

a img {
    border: 0
}

form {
    margin: 0
}

header, nav, footer, main, section, article {
    background-color: inherit;
    display: block
}

body {
    margin: 0;
    background-color: #F4F4F4;
    font-family: Arial;
    font-size: 13px;
    color: #303030
}

a {
    text-decoration: none;
    color: #303030
}

input, textarea {
    font-family: Arial !important
}

#content input[type="button"], #header input[type="button"], #content input[type="submit"], #content button, #content .boton, #header .boton {
    border: 0;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    background-color: #CA1E25;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none
}

#content input[type="button"].disabled, #header input[type="button"].disabled, #content input[type="submit"].disabled, #content button.disabled, #content .boton.disabled, #header .boton.disabled {
    background-color: #707070 !important;
    cursor: auto !important
}

html.form_login #content #anuncio_edicion input[type="text"], html.form_login #content #anuncio_edicion input[type="password"], html.form_login #content #anuncio_edicion select, html.form_login #content #anuncio_edicion textarea, #content input[type="text"], #content input[type="password"], #header input[type="text"], #content select, #header select, #content textarea {
    display: inline-block;
    color: #303030;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    border-radius: 3px
}

*:-moz-placeholder {
    color: #A9A9A9
}

*:-ms-input-placeholder {
    color: #A9A9A9
}

*::-webkit-input-placeholder {
    color: #A9A9A9
}

hr {
    border: 0;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #FFF;
    margin: 15px 0;
    display: none
}

.lightbox {
    position: fixed;
    display: block;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    top: 0;
    left: 0;
    right: 0;
    bottom: -100px
}

@font-face {
    font-family: 'Material Icons';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/MaterialIcons/MaterialIcons-Regular.eot);
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2'), url(/fonts/MaterialIcons/MaterialIcons-Regular.woff) format('woff'), url(/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format('truetype')
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: inherit;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.material-icons.url, .material-icons.link, a .material-icons {
    cursor: pointer
}

.material-icons, .material-icons-before:before, .material-icons-after:after, #cabecera_sub_buscar *:before, #div_busqueda_cabecera span:after, #expandir_filtros_busqueda span:before, #navegacion_categorias span:before, .favorita_corazon:before {
    font-family: 'Material Icons' !important;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

#content {
    position: relative;
    width: 94%;
    width: calc(100% - 28px);
    max-width: 940px;
    padding: 2%;
    padding: calc(14px);
    margin: 0 auto;
    margin-top: 90px;
    background-color: inherit
}

@media screen and (max-width: 800px) {
    #content {
        width: 98%;
        width: calc(100% - 10px);
        padding: 1%;
        padding: calc(5px);
        margin-top: 41px
    }
}

.visibility_off {
    visibility: hidden
}

.visibility_on {
    visibility: visible
}

.display_off {
    display: none
}

.hide_on {
    display: none
}

.bloque {
    color: #303030;
    background-color: #fff;
    padding: 25px;
    margin-top: 20px;
    position: relative;
    font-size: 15px;
    border: 1px solid #E8E8E8;
    border-radius: 0
}

#content .bloque:first-child {
    margin-top: 0
}

html.form_login #anuncio_edicion .bloque .titulo, .bloque .titulo {
    margin-top: 0;
    font-size: 25px;
    font-weight: 400;
    color: #CA1E25;
    display: block;
    margin-bottom: 25px
}

.bloque .link {
    color: inherit;
    text-decoration: underline
}

.bloque .enlace {
    color: #0072C6;
    text-decoration: underline
}

.bloque strong {
    color: #CA1E25
}

.bloque.OK {
    font-size: 17px;
    color: #008A00;
    font-weight: 700;
    border: 1px solid #008A00
}

.bloque.KO {
    font-size: 17px;
    color: #CA1E25;
    font-weight: 700;
    border: 1px solid #CA1E25
}

.bloque.KO a {
    color: #CA1E25;
    text-decoration: underline
}

.bloque.KO a.boton {
    text-decoration: none
}

@media screen and (max-width: 800px) {
    .bloque {
        margin-top: 5px
    }
}

#header .error, #content .error, #div_navegacion .error {
    display: none;
    position: relative;
    color: red
}

#header .error > img, #content .error > img, #div_navegacion .error > img {
    position: absolute;
    width: 16px
}

#header .error > i, #content .error > i, #div_navegacion .error > i {
    color: #CA1E25;
    font-size: 21px;
    position: absolute;
    margin-top: -2px;
    margin-left: -1px
}

#header .error > span, #content .error > span, #div_navegacion .error > span {
    line-height: 18px;
    display: inline-block;
    margin-left: 24px;
    font-size: 13px
}

#content .error > span a {
    text-decoration: underline;
    font-weight: 700;
    color: inherit
}

html.droid #header .error > span, html.droid #content .error > span, html.droid #div_navegacion .error > span {
    line-height: 17px
}

.adp {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0;
    background-color: #fff;
    border: 1px silver solid;
    border-bottom: 0;
    border-right: 0;
    border-top-left-radius: 5px;
    box-shadow: 0 0 1px 0 #A4A4A4;
    z-index: 1000
}

.adp.min {
    height: 30px;
    width: 240px;
    opacity: .5
}

.adp .barra {
    height: 30px;
    color: #fff;
    background-color: #CA1E25;
    border-top-left-radius: 5px;
    font-size: 15px;
    line-height: 30px;
    padding-left: 5px;
    font-weight: 700;
    position: relative;
    cursor: pointer
}

.adp .adp_mini {
    position: absolute;
    right: 10px
}

.adp .opciones {
    padding: 10px
}

.adp input, .adp textarea {
    border: 1px solid silver
}

.adp textarea {
    width: 300px;
    height: 80px;
    font-family: Arial
}

.notransition {
    transition: none !important
}

@media screen and (max-width: 550px) {
    .adp {
        bottom: 29px
    }

    .bloque {
        padding: 15px
    }
}

#condiciones_content span[id^="about-"] {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700
}

.capa_checkbox .error {
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 0
}

.icon_checkbox_box {
    display: inline-block;
    vertical-align: middle;
    height: 36px;
    margin: 2px 0
}

.icon_checkbox_box .icon_checkbox {
    font-size: 36px;
    cursor: pointer;
    color: #008A00
}

.icon_checkbox_box .icon_checkbox.disabled {
    color: #aaa;
    cursor: default
}

.icon_checkbox_text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
    margin-left: 8px;
    width: calc(100% - 36px - 8px)
}

#about_content .icon_checkbox_text, .alertas_content .icon_checkbox_text {
    width: initial
}

.g-recaptcha-cookies {
    text-align: left
}

.g-recaptcha-cookies > span {
    display: block
}

.g-recaptcha-cookies > span.titulo {
    margin-bottom: 10px
}

.g-recaptcha-cookies > span.aceptar {
    display: inline-block;
    color: #fff;
    background-color: #0072C6;
    border: 0;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer
}

.bloque_footer {
    padding: 10px 15px
}

#content > .bloque.bloque_footer {
    margin-top: 50px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    width: max-content;
    text-align: center;
    line-height: 23px
}

html.con_filtros #content > .bloque_footer {
    margin-bottom: 63px
}

#content > .bloque_footer:empty {
    display: none
}

@media screen and (max-width: 800px) {
    #content > .bloque.bloque_footer {
        margin-bottom: 15px
    }
}

@media screen and (max-width: 550px) {
    #content > .bloque.bloque_footer {
        margin-top: 20px;
        max-width: max-content;
        width: max-content;
        text-align: center;
        line-height: 23px
    }
}

@media screen and (max-width: 800px) {
    #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop {
        max-height: 150px !important;
        min-height: 150px !important
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop li {
        margin-top: 3px !important;
        margin-bottom: 16px !important
    }
}

#header {
    z-index: 1000
}

#cabecera {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #E8E8E8;
    text-align: center;
    z-index: 1000
}

#cabecera .cabecera_sup {
    position: relative;
    height: 50px
}

#cabecera .cabecera_sub {
    position: relative;
    height: 39px
}

#cabecera h1 {
    color: #303030;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 39px
}

#cabecera_sup_buscar {
    text-align: left
}

#div_logo {
    display: inline-block;
    position: relative;
    line-height: 0;
    z-index: 1
}

#logo {
    border: 0;
    height: 36px
}

#link_home {
    color: #fff;
    display: inline-block;
    line-height: 0;
    margin-top: 10px;
    cursor: pointer
}

#div_navegacion {
    text-align: center;
    font-size: 14px
}

#div_navegacion div, #div_navegacion span, #div_navegacion li, #div_navegacion a {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

#div_navegacion > a, #div_navegacion > div {
    color: #303030;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    vertical-align: top
}

#div_navegacion > a {
    padding: 0 10px;
    white-space: nowrap
}

html.droid #div_navegacion > a, html.droid #div_navegacion > div {
    line-height: 31px
}

#div_navegacion > div * {
    line-height: normal
}

@media screen and (max-width: 800px) {
    #cabecera {
        position: fixed;
        right: 0
    }

    html.noheader #cabecera {
        position: absolute
    }

    #cabecera .cabecera_sup {
        height: 40px;
        text-align: left
    }

    #cabecera .cabecera_sub {
        height: 0;
        line-height: 0;
        border: 0;
        padding: 0;
        margin: 0
    }

    #logo {
        height: 26px
    }

    #link_home {
        margin-left: 10px;
        margin-top: 7px
    }

    #cabecera #cabecera_sup_gen #div_logo {
        margin: 0
    }

    #cabecera #cabecera_sub_gen h1 {
        position: absolute;
        top: -39px;
        right: 10px
    }

    #div_navegacion {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fff;
        border: 1px solid #E8E8E8;
        border-top: 0;
        border-right: 0;
        text-align: left
    }

    #div_navegacion:before {
        content: "menu";
        position: absolute;
        right: 7px;
        top: -40px;
        font-size: 48px;
        width: 37px;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        color: #0072C6;
        background-color: #fff;
        cursor: pointer
    }

    #div_navegacion > * {
        display: none !important
    }

    #div_navegacion:hover > * {
        display: block !important
    }
}

@media screen and (max-width: 350px) {
    #cabecera #cabecera_sub_gen h1 {
        display: none
    }
}

body {
    font-size: 15px
}

body, span, div, input, select, textarea, a {
    font-family: Verdana !important
}

#content {
    margin-top: 62px
}

#content .bloque .titulo {
    font-size: 26px
}

.bloque label .field {
    font-size: 18px;
    margin-top: 4px
}

#btn_subir_fotos, .bloque select, .bloque input, .input_disabled {
    font-size: 16px !important
}

#content {
    padding: 20px 14px 14px;
    max-width: none;
    padding-bottom: 0
}

#content > .bloque, #content > form > .bloque {
    margin: 20px auto;
    max-width: 1152px;
    margin-bottom: 0
}

.bloque input[type="button"], .bloque input[type="submit"], .bloque .boton {
    display: inline-block;
    text-align: center;
    font-size: 15px !important;
    padding: 3px 10px;
    min-width: 200px;
    width: auto;
    box-sizing: border-box;
    height: 40px;
    line-height: 32px;
    font-weight: 700;
    margin: 20px;
    margin-bottom: 0;
    margin-left: 0
}

html.droid .bloque input[type=button], html.droid .bloque input[type=submit], html.droid .bloque .boton {
    padding-top: 6px;
    padding-bottom: 4px
}

#cabecera .cabecera_sup {
    height: 62px
}

#cabecera .cabecera_sub {
    height: 0
}

#link_home {
    margin-top: 13px
}

#cabecera #cabecera_sup_gen #div_logo {
    margin: 0
}

#cabecera #cabecera_sub_gen h1 {
    position: absolute;
    top: -39px;
    right: 10px
}

#div_navegacion > a {
    padding: 0 15px;
    background-color: #fff;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    border-top: 0;
    border-bottom: 0;
    border-right: 0
}

#div_navegacion > a:last-of-type {
    border: 1px solid #E8E8E8;
    border-top: 0;
    border-right: 0
}

#div_navegacion {
    position: absolute;
    right: 0;
    top: -12px;
    background-color: #fff;
    padding-top: 13px;
    background-color: transparent !important;
    border-top: 0;
    border-right: 0;
    text-align: left
}

#div_navegacion:before {
    content: "menu";
    position: absolute;
    right: 9px;
    top: -40px;
    font-size: 82px;
    width: 52px;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    color: #0072C6;
    background-color: #fff;
    cursor: pointer
}

#div_navegacion > * {
    display: none !important
}

#div_navegacion:hover > * {
    display: block !important
}

@media screen and (max-width: 800px) {
    #cabecera .cabecera_sup {
        height: 40px
    }

    #div_navegacion {
        top: 0
    }

    #div_navegacion:before {
        right: 7px
    }

    #cabecera .cabecera_sub {
        height: 0
    }

    #div_navegacion:before {
        font-size: 48px;
        width: 37px;
        height: 40px;
        line-height: 40px
    }

    #div_navegacion {
        padding-top: 1px;
        border: 0px !important;
        border-right: 0
    }
}

#content .bloque_cabecera {
    border: 0;
    padding: 0;
    display: table;
    width: 100%;
    max-width: 1204px;
    background-color: inherit
}

.bloque_cabecera > * {
    display: table-cell;
    vertical-align: top
}

.bloque_cabecera > a {
    width: 50px;
    padding-right: 10px;
    line-height: 0
}

.bloque_cabecera img {
    height: 72px
}

#content .bloque_cabecera .bloque {
    width: auto;
    padding: 10px;
    margin: 0;
    background-color: #CA1D24;
    border: 1px solid rgba(255, 255, 255, .3);
    color: #fff
}

.bloque_cabecera .bloque > span {
    display: table-cell;
    width: 50px;
    margin: 0;
    vertical-align: middle
}

.bloque_cabecera .bloque .icono_cabecera {
    line-height: 0;
    width: 50px
}

.bloque_cabecera .bloque .icono_cabecera > i, .bloque_cabecera .bloque .icono_cabecera > img {
    width: 40px;
    height: 40px;
    font-size: 40px;
    padding: 5px;
    overflow: hidden
}

.bloque_cabecera .bloque .separador_cabecera {
    margin-top: -12px;
    margin-left: 58px;
    border-right: 1px solid rgba(255, 255, 255, .5);
    position: absolute;
    width: 2px;
    height: 72px
}

.bloque_cabecera .bloque .texto_cabecera {
    width: auto;
    padding-left: 26px
}

.bloque_cabecera .bloque .texto_cabecera > span {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    width: 100%
}

.bloque_cabecera .bloque .texto_cabecera > span.subtitulo {
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px
}

.bloque_cabecera .bloque .texto_cabecera > span.subtitulo:empty {
    display: none
}

.bloque_cabecera .bloque .texto_cabecera strong {
    color: #FFF
}

#content .bloque_error ul {
    padding-left: 16px
}

#content > .bloque.bloque_footer {
    margin-bottom: 20px
}

@media screen and (max-width: 800px) {
    #cabecera_sup_control_login #link_home, #link_home {
        margin-top: 7px !important
    }

    #cabecera .cabecera_sup {
        height: 40px
    }

    #div_navegacion {
        top: 0
    }

    #div_navegacion:before {
        right: 7px
    }

    #cabecera .cabecera_sub {
        height: 0
    }

    #content {
        width: calc(100% - 28px);
        margin-top: 41px
    }

    #div_navegacion:before {
        font-size: 48px;
        width: 37px;
        height: 40px;
        line-height: 40px
    }
}

@media screen and (max-width: 550px) {
    #content {
        padding: 0;
        padding-top: 5px;
        width: 100%
    }

    #content .bloque_cabecera, .bloque_cabecera > * {
        display: block;
        width: auto
    }

    .bloque_cabecera > a, .bloque_cabecera .bloque .texto_cabecera > span.subtitulo {
        display: none
    }

    .bloque_creditos .bloque .texto_cabecera > span.subtitulo {
        display: block
    }

    .bloque_cabecera.sin_creditos .bloque .texto_cabecera > span.subtitulo {
        display: inline-block !important
    }

    #content > .bloque input[type="submit"], #content > .bloque input[type="button"], #content > .bloque .boton {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0
    }

    #formulario_publicar #publicar {
        box-sizing: border-box;
        width: calc(100% - 10px);
        margin: 20px auto
    }
}

#cabecera_sup_control_login #link_home {
    margin-top: 13px
}

#anuncio_edicion > .bloque_login {
    padding: 0;
    border: 0px !important
}

#anuncio_edicion > .bloque_login, #anuncio_edicion > .bloque_login input[type=text], #anuncio_edicion > .bloque_login input[type=email], #anuncio_edicion > .bloque_login input[type=submit], #anuncio_edicion > .bloque_login input[type=password] {
    font-family: Verdana !important
}

#content #anuncio_edicion input[type=checkbox] {
    width: initial;
    margin: 3px 3px 3px 4px
}

.bloque_login .icon_checkbox_box {
    vertical-align: top;
    margin-top: 0
}

.bloque_login .icon_checkbox_text {
    color: #747474
}

#content .bloque_login {
    font-size: 14px
}

.bloque_login div#error_acepto_sin_coaccion {
    margin-left: 44px
}

@media screen and (max-width: 550px) {
    #content .bloque_login {
        text-align: left
    }
}

#content .bloque_login {
    box-sizing: border-box;
    width: 100%;
    max-width: 840px
}

#content .bloque_login .titulo {
    display: block;
    margin-bottom: 25px
}

#content .bloque_login .login_container {
    width: 48%;
    display: inline-block;
    vertical-align: top
}

#content .bloque_login .landing_container {
    width: 52%;
    margin-left: 42px;
    display: inline-block;
    vertical-align: top
}

#content .bloque_login .login_container, #content .bloque_login .landing_container {
    display: table-cell;
    position: relative
}

#content .bloque_login .login_container {
    padding-right: 21px;
    border-right: 1px solid #E8E8E8
}

#content .bloque_login .landing_container {
    padding-left: 21px
}

#content .bloque_login .login_container form {
    padding-bottom: 20px
}

#content .bloque_login .landing_container form {
    padding-bottom: 45px
}

#content .bloque_login.bloque_login_eliminar .login_container form {
    padding-bottom: 41px;
    margin-right: 0;
    display: block
}

#content .bloque_login.bloque_login_eliminar .landing_container form {
    padding-bottom: 66px;
    margin-right: 0
}

#content .bloque_login .login_container .titulo, #content .bloque_login .landing_container .titulo, .bloque_login #eliminar_anuncio span.titulo, html.form_login #content #anuncio_edicion .bloque_login .login_container .titulo, html.form_login #content #anuncio_edicion .bloque_login .landing_container .titulo, html.form_login #anuncio_edicion .bloque_login #eliminar_anuncio span.titulo {
    color: #303030;
    font-size: 18px
}

html.form_login #anuncio_edicion .bloque_login #eliminar_anuncio span.titulo, .bloque_login #eliminar_anuncio span.titulo, #content .bloque_login .landing_container .titulo {
    margin-bottom: 20px !important
}

#content .bloque_login .descripcion {
    font-size: 14px;
    color: #747474;
    margin-bottom: 21px;
    line-height: 22px
}

#content .bloque_login .frase, #content .bloque_login .enlace {
    display: inline-block;
    position: absolute;
    margin: 0;
    bottom: 0;
    height: 32px;
    line-height: 34px;
    font-weight: 700;
    text-decoration: none
}

#content .bloque_login .frase {
    color: #4682b4;
    border: 0;
    font-size: 16px;
    width: auto;
    margin-bottom: 4px
}

#content .bloque_login .enlace {
    background-color: #3e7bb0;
    width: 90px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    right: 30px
}

.bloque_login p {
    padding: 0;
    margin: 20px 0 10px 0
}

html.form_login #anuncio_edicion .bloque_login input[type=text], html.form_login #anuncio_edicion .bloque_login input[type=email], html.form_login #anuncio_edicion .bloque_login input[type=password], .bloque_login input[type=text], .bloque_login input[type=email], .bloque_login input[type=password] {
    font-size: 16px;
    height: 22px;
    margin: 0;
    padding: 5px 5px 8px 5px;
    font-size: 17px;
    width: calc(100% - 10px - 2px);
    border: 1px solid silver
}

.bloque_login input::-webkit-input-placeholder {
    color: #A9A9A9
}

.bloque_login input:-moz-placeholder {
    color: #A9A9A9
}

.bloque_login input:-ms-input-placeholder {
    color: #A9A9A9
}

.bloque_login input[type=button], .bloque_login input[type=submit], .bloque_login .boton {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 200px
}

#content .bloque_recordar_password_ok .boton, .bloque_login input[type=submit], .bloque_login input[type=submit], #content .bloque_login .enlace {
    padding: 3px 10px;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    box-sizing: border-box;
    line-height: 32px;
    text-transform: none
}

#content .bloque_recordar_password_ok .boton, .bloque_login input[type=submit] {
    width: 100%
}

#content .bloque_login input[type=submit] {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    margin-top: 0px !important;
    margin-right: 0px !important
}

#content .bloque_login .landing_container input[type=submit] {
    left: 20px
}

#content .bloque_login.bloque_restablecer_password input[type=submit], #content .bloque_login.bloque_cambiar_password input[type=submit] {
    position: relative;
    width: 100%
}

#content .bloque_login.bloque_login_eliminar .login_container input[type=submit], #content .bloque_login.bloque_login_eliminar .landing_container input[type=submit] {
    bottom: 21px
}

.bloque_login span.info, .bloque_login span.field {
    display: block;
    margin: 20px 0
}

.bloque_login span.info {
    color: red;
    text-align: left;
    font-size: 13px
}

.bloque_login span.info:empty {
    display: none
}

.bloque_login .error {
    padding-top: 5px
}

.bloque_login .recordar_password, .bloque_login .mantener_sesion {
    display: inline-block;
    margin-top: 20px;
    font-size: 13px;
    min-height: 20px;
    line-height: 20px;
    vertical-align: top;
    width: auto
}

.bloque_login .mantener_sesion input[type="checkbox"] {
    vertical-align: bottom
}

.bloque_login .recordar_password {
    float: right;
    margin-left: 5px;
    margin-bottom: 20px
}

.bloque_login .recordar_password > a {
    color: #0072C6;
    text-decoration: underline
}

.bloque_login .mantener_sesion {
    float: left;
    cursor: pointer
}

.bloque_login #eliminar_anuncio {
    display: block;
    padding-top: 21px;
    margin-bottom: 1px;
    border-top: 1px solid #e8e8e8;
    position: relative
}

.bloque_login #eliminar_anuncio {
    position: relative;
    display: block;
    margin-bottom: 0;
    margin-right: 0
}

.bloque_login #eliminar_anuncio p.descripcion {
    width: calc(100% - 200px - 25px);
    margin-bottom: 0
}

.bloque_login #eliminar_anuncio #anuncio_edicion_submit_sms {
    margin-top: 0;
    top: 65px;
    right: 0;
    left: auto;
    bottom: -1px;
    width: auto;
    background-color: #0072C6;
    position: absolute;
    min-width: 200px
}

.clear_both {
    clear: both
}

#ficha div.clear_both:empty {
    display: block
}

p.explicacion {
    color: #303030;
    font-size: 15px;
    padding-bottom: 15px
}

@media screen and (max-width: 870px) {
    #content .bloque_login .frase, #content .bloque_login .enlace {
        right: initial;
        display: block;
        position: relative;
        bottom: 0;
        text-align: center;
        margin: 20px auto
    }

    .bloque_login input {
        max-width: 100%
    }
}

@media screen and (max-width: 800px) {
    #content {
        box-sizing: border-box;
        width: 100%;
        right: 0;
        margin-right: 0
    }

    #content .bloque_login {
        width: calc(100% - 15px)
    }
}

@media screen and (max-width: 620px) {
    #content .bloque_login .login_container, #content .bloque_login .landing_container, #content .bloque_login #eliminar_anuncio {
        display: block;
        margin: 0 auto;
        width: initial;
        max-width: 380px
    }

    #content .bloque_login .login_container input[type=submit], #content .bloque_login .landing_container input[type=submit] {
        left: 0;
        width: 100%
    }

    #content .bloque_login .login_container input[type=submit] {
        bottom: 25px
    }

    #content .bloque_login .login_container {
        padding-right: 0;
        border-right: 0;
        padding-bottom: 25px;
        border-bottom: 1px solid #E8E8E8
    }

    #content .bloque_login .landing_container {
        margin-top: 21px;
        padding-left: 0
    }

    #content .bloque_login.bloque_login_eliminar .login_container form {
        padding-bottom: 16px
    }

    .bloque_login input.submit {
        margin-top: 15px
    }

    .bloque_login input.submit {
        margin-top: 15px
    }

    #content .bloque_login .enlace {
        position: relative;
        bottom: initial;
        border: 0 solid transparent;
        background-color: #CA1E25;
        width: calc(100%)
    }

    .bloque_login #eliminar_anuncio p.descripcion {
        width: 100%;
        margin-bottom: 25px
    }

    .bloque_login #eliminar_anuncio #anuncio_edicion_submit_sms {
        position: relative;
        width: 100% !important;
        top: initial
    }
}

@media screen and (max-width: 550px) {
    #content .bloque_login {
        text-align: center;
        width: auto;
        max-width: none
    }

    .bloque_login label, .bloque_login span.error, .bloque_login p, #content .bloque .titulo {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: left
    }

    .bloque_login input[type=text], .bloque_login input[type=email], .bloque_login input[type=password] {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
        margin: 0;
        width: calc(100% - 10px - 2px);
        padding-left: calc(5px);
        padding-right: calc(5px)
    }
}

#content {
    margin-top: 75px;
    padding-top: 0
}

#cabecera {
    font-size: 14px
}

#cabecera span {
    font-family: Arial !important
}

#link_home {
    margin-top: 13px
}

#cabecera .cabecera_sup {
    position: relative;
    height: 62px
}

#cabecera .cabecera_sub {
    height: 0
}

#cabecera #login {
    font-family: Arial !important
}

#cabecera #ver_busqueda, #cabecera #publicar, #cabecera #login {
    position: absolute;
    top: -52px;
    color: #0072C6;
    background-color: transparent;
    display: inline-block;
    width: 64px;
    font-size: 56px;
    height: 42px;
    line-height: 42px;
    padding: 0;
    text-align: left
}

#cabecera #publicar, #cabecera #login {
    margin: 0px !important
}

#cabecera #publicar {
    right: 136px;
    cursor: pointer
}

#cabecera #login {
    right: 70px;
    line-height: 36px;
    cursor: pointer
}

#cabecera #login img {
    width: 64px;
    height: 42px
}

#cabecera .navegacion_titulo {
    font-size: 16px;
    display: inline-block;
    line-height: 30px;
    margin: 0 10px;
    cursor: pointer;
    white-space: nowrap
}

#cabecera .navegacion_menu {
    position: absolute;
    margin: 0;
    padding: 0;
    padding-top: 4px;
    text-align: left;
    display: none
}

#cabecera .navegacion:hover .navegacion_menu, #cabecera .navegacion.navegacion_menu:hover {
    display: block
}

#cabecera .navegacion .navegacion_menu ul.drop {
    background-color: #fff;
    border: 1px solid #E8E8E8;
    border-right: 0;
    margin: 0;
    padding: 0;
    min-width: 110px;
    overflow: auto;
    overflow-x: hidden;
    z-index: 1;
    max-width: 600px;
    position: relative
}

#cabecera .navegacion_menu ul.drop li {
    white-space: nowrap
}

#cabecera .navegacion_about ul.drop li > * {
    display: inline-block;
    padding: 0 15px;
    height: 35px;
    line-height: 36px;
    cursor: pointer
}

html.droid #cabecera .navegacion_about ul.drop li > * {
    line-height: 33px
}

#cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop li span {
    width: 100%
}

#cabecera .navegacion_menu .sep_on {
    border: 0;
    clear: left
}

#cabecera .navegacion_menu .sep_on:before {
    content: " ";
    position: absolute;
    left: 0;
    margin-top: 0;
    display: block;
    width: 100%
}

#cabecera .navegacion_menu .sep_on.mas {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 2px
}

#cabecera .navegacion_about {
    position: absolute;
    top: -52px;
    right: 10px
}

#cabecera .navegacion_about .navegacion_titulo {
    font-size: 82px;
    width: 52px;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    margin: 0;
    margin-right: 5px;
    color: #0072C6;
    background-color: #fff
}

#cabecera .navegacion_about .navegacion_menu {
    right: -10px;
    padding-top: 7px
}

ul.drop > li:hover {
    background-color: #CA1E25;
    color: #fff
}

@media screen and (max-width: 1664px) {
    #cabecera .navegacion_about .navegacion_titulo {
        margin-right: 0
    }

    #cabecera #publicar {
        right: 132px
    }

    #cabecera #login {
        right: 66px
    }
}

@media screen and (max-width: 1499px) {
    #cabecera #publicar, #cabecera #login, #cabecera .navegacion_about {
        top: -52px
    }

    #cabecera #publicar {
        right: 120px
    }

    #cabecera #login {
        right: 61px
    }

    #cabecera .navegacion_about {
        right: 10px
    }

    #cabecera #publicar, #cabecera .navegacion_about .navegacion_titulo {
        margin-right: 0
    }

    #cabecera .navegacion_about .navegacion_menu {
        padding-top: 6px !important
    }
}

@media screen and (max-width: 800px) {
    #cabecera .cabecera_sup {
        height: 40px
    }

    #cabecera_sup_gen #link_home {
        margin-top: 7px
    }

    #cabecera #ver_busqueda, #cabecera #publicar, #cabecera #login, #cabecera .navegacion_about {
        top: -40px
    }

    #cabecera .navegacion_about .navegacion_menu ul.drop {
        margin-top: 0px !important
    }

    #content {
        margin-top: 41px
    }

    #cabecera #login {
        top: -42px;
        right: 12px
    }

    #cabecera #login img {
        width: 26px;
        height: 30px
    }

    #cabecera .navegacion_about {
        right: 7px
    }

    #cabecera .navegacion_about .navegacion_titulo {
        width: 37px;
        height: 40px;
        font-size: 50px;
        line-height: 40px
    }

    #cabecera #publicar {
        width: 45px;
        height: 40px;
        right: 79px;
        font-size: 34px;
        line-height: 40px;
        text-align: center
    }

    #cabecera_sub_buscar .navegacion_about {
        display: block;
        width: auto
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu {
        display: none;
        top: 40px;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        z-index: 1;
        background-color: #fff
    }

    #cabecera_sub_buscar .navegacion_about:hover .navegacion_menu {
        display: none
    }

    #cabecera .navegacion_about ul.drop li > * {
        padding: 0
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop {
        padding: 0;
        border: 0;
        margin: 0 auto;
        max-height: 122px;
        min-height: 122px;
        padding-top: 3px
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop li {
        display: inline-block;
        margin: 1px auto;
        padding-top: 1px;
        height: 33px;
        width: calc(50% - 8px);
        border-radius: 3px;
        display: block;
        background-color: #CA1E25;
        font-size: 15px;
        box-sizing: border-box;
        vertical-align: middle;
        text-align: center;
        font-weight: 700;
        margin-top: 1px;
        margin-bottom: 7px
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop li a, #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop li span {
        color: #fff
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu ul.drop li:nth-child(odd) {
        width: calc(50% - 8px)
    }

    #cabecera .navegacion_about ul.drop li > * {
        height: auto;
        line-height: 34px
    }

    #cabecera_sub_buscar .navegacion_about .navegacion_menu .sep_on:before {
        display: none
    }

    .borderDesplegable {
        border-bottom: 1px solid #E8E8E8
    }

    #cabecera_sub_buscar .navegacion.navegacion_about.desp {
        right: 0;
        width: 100%;
        background-color: #fff;
        text-align: right
    }

    #cabecera_sub_buscar .navegacion_about.desp .navegacion_menu {
        display: block !important;
        border-bottom: 1px solid #E8E8E8
    }

    #cabecera_sub_buscar .navegacion_about.desp .navegacion_titulo {
        width: 40px;
        font-size: 40px
    }

    #cabecera_sub_buscar .navegacion_about.desp .navegacion_titulo:before {
        content: "close";
        color: #0072C6;
        background-color: #fff;
        margin: -1px 0 0;
        padding: 0;
        width: 40px;
        line-height: 42px;
        font-size: 40px;
        font-weight: 700
    }

    #cabecera_sub_buscar .navegacion_about.desp ~ #div_busqueda_cabecera {
        visibility: hidden
    }

    #content {
        padding: calc(5px);
        margin-top: 41px
    }
}

h1 {
    text-align: left;
    margin-top: 0
}